

.events-box {
  margin-top: 5%;
  text-align: center;
  width: 90%;
  margin: 5% auto;
/*  display: none;*/
}

.img1 {
  width: 40%;
  margin: 0 2%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) -10px 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  z-index: -1;
  transition: 0.5s;
  cursor: pointer;
}

.img1:hover {
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.66) -20px 60px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  z-index: -1;
}

span {
  position:
}

