{% load static %}
<h1>Question 14</h1>
<style>
        p {
                text-align: center !important;
                font-size: 24px;
        }
        .qdiv {
                width: 100%;
        }
        .qimg {
                display: block !important;
                margin: auto !important;
                padding: 10px;
        }
</style>
<p text-align="center">The arachnid jumbled them bad</p>
<p text-align="center">With extras to pad</p>
<p text-align="center">(The six of them</p>
<p text-align="center">Who caused mayhem)</p>
<p text-align="center">In them is the answer to be had.</p>
<p text-align="center"></p>
<p text-align="center">pukoccosdttroo   </p>
<p text-align="center">vlrtuheu         </p>
<p text-align="center">estolrec         </p>
<p text-align="center">knveira  </p>
<p text-align="center">nsadwmna         </p>
<p text-align="center">ysrmeoity</p>