{% load static %}
<h1>Question 16</h1>
<style>
        p {
                text-align: center !important;
                font-size: 24px;
        }
        .qdiv {
                width: 100%;
        }
        .qimg {
                display: block !important;
                margin: auto !important;
                padding: 10px;
        }
</style>
<p text-align="center">x zvm afs bm xnz aas arwq 'ez pzc kgn</p>
<p text-align="center">Key: The youngest member of “61st Annual Cannes Film Festival” jury.</p>
<p text-align="center">Connect the above two to get to ‘X’. Answer is the creator of X.</p>