{% load static %}
<h1>Question 17</h1>
<style>
        p {
                text-align: center !important;
                font-size: 24px;
        }
        .qdiv {
                width: 100%;
        }
        .qimg {
                display: block !important;
                margin: auto !important;
                padding: 10px;
        }
</style>
<div class="qdiv">
        <video class="qimg" height="240px" width="426px" controls>
                <source src ="/static/cryptex/q18.mp4">
        </video>
</div>
