{% load static %}
<h1>Question 18</h1>
<style>
        p {
                text-align: center !important;
                font-size: 24px;
        }
        .qdiv {
                width: 100%;
        }
        .qimg {
                display: block !important;
                margin: auto !important;
                padding: 10px;
        }
</style>
<div class="qdiv">
        <img class="qimg" width="70%" src="{% static 'cryptex/propositional.png' %}">
</div>
<p text-align="center">3155 2077 2 2893 4017 2404 2404 3315 2 2077 3315 1375 1079 2 1119 4017 3521 2 3315 2404 2 4017 2216 2216 1079 3126 2 1119 4017 3521 2 1355 3315 2404 432 2 3126 1079 2216 3521 181 1079</p>
