{% load static %}
<h1>Question 23</h1>
<style>
        p {
                text-align: center !important;
                font-size: 24px;
        }
        .qdiv {
                width: 100%;
        }
        .qimg {
                display: block !important;
                margin: auto !important;
                padding: 10px;
        }
</style>
<div class="qdiv">
        <img class="qimg" width="70%" src="{% static 'cryptex/Lucia.png' %}">
</div>
<div class="qdiv">
        <img class="qimg" width="70%" src="{% static 'cryptex/ingrained.jpg' %}">
</div>