{% load static %}
<h1>Question 26</h1>
<style>
        p {
                text-align: center !important;
                font-size: 24px;
        }
        .qdiv {
                width: 100%;
        }
        .qimg {
                display: block !important;
                margin: auto !important;
                padding: 10px;
        }
</style>
<div class="qdiv">
        <p>IT'S SHOWTIME TALK TO THE HAND "s" YOU HAVE BEEN TERMINATED</p>
</div>
<hr>
<div class="qdiv">
        <p>+[------->++<]>+.</p>
</div>
<hr>
<div class="qdiv">
        <p>HAI</p>
        <p>CAN HAS STDIO?</p>
        <p>VISIBLE "u"</p>
        <p>KTHXBYE</p>
</div>
<hr>
<div class="qdiv">
        <p>pi pi pi pi pi pi pi pi pi pi pika pipi pi pipi pi pi pi pipi pi pi pi pi pi pi pi pipi pi pi pi pi pi pi pi pi pi pi pichu pichu pichu pichu ka chu pipi pipi pipi pipi pi pi pi pi pi pi pi pi pi pi pi pi pi pi pikachu</p>
</div>
<hr>
<div class="qdiv">
        <p>D'`$_p"7<;Y{870vSusOOp(^9\lkFX3}Cec@~P|<):xwYo5"</p>
</div>
<hr>
<div class="qdiv">
        <p>'r'.ei</p>
</div>
<hr>

<!-- 
...............`:+:.....-o-/-...-//:/sdmNNNNNmdyoo`...................................................................................................
................o-......-+:-/....-omMMMMMMMMMMMMMMd+..................................................................................................
..............`-+........-//:...+mMMMMNmdddmNNMMMMMMm:................................................................................................
..............`.+....-o:.......sNMMMNhssssssymNMMMMMMN+...............................................................................................
..............``/:....ymy/....yMMMMmssssssssdhyNMMMMMMN/..............................................................................................
`.`........``:///o/:../moyh/.oNMMMNssssyhdddyssyNMMMMMMN-.............................................................................................
.````....``.+/-..:+/+--msssdymMMMNyoyhhyysssssssyNMMMNdmy.............................................................................................
``````..```+:.....-/+/-msssshNMMNmosssyoysssysssshNMNysdN..................................................................`..``......................
``````````-o-.......-.:NsyssshNMNyosyssdss+/osssssdNhosmN/`.......................```...```````````....``````.....`.``.````````````...````````````````
``````````-o-.........omosyssohNmsssssy-.....yossssdssssmy`````.....`````.......`.```````````````````````.```````````.````.```````````````````````````
```````````+:.........myosyysssddossso.`.....+sssssssssyhd````...`.`...`.``........````````````.`````````````````````..```````````````````````````````
```````````.+:.......+msssssysssyssssso--sdh-+ssssssssy+ym/-.`.`..```.`````......``...````.:/+osyyhhhhyyss+/:-````````````````````````````````````````
`````````````:+////::ydosyyyshosssssssso./NMsossssssss.-om//.```````````````````````.`.+yhhs+oh+.``   ```.odoshho:````````````````````````````````````
````````````.//:///::ydoyyoyoyso/--:osss/`-m+yosssssy.sNNm/:.`.````````````````````./hy/.  `/s-      -/    :o- `-sdo.`````````````````````````````````
````````````+/......./Nyshsssho:...-+ssso-``.hossssy:.o--s````````````````````````/ds.   `/o:`     `/ss:    .++.  `om:````````````````````````````````
````````````o-........+mhsyyyyo:...+ssssso:`-yssssss..`-d+```````````````````````+m-   ./s/`      -oo.:s+.    .+o:` :m-```````````````````````````````
````````````+/......::--+symhsso//omNNhssso``ssssss:`.+om-``````````````````````.N: .:o+:       -os:   `/s+.    `:o+:my```````````````````````````````
````````````.+:...-///:...-myssssssshNNmsss..ssssss+`/osd```````````````````````+Noo+:`      `:o+-`      `:oo:`    `.hd```````````````````````````````
``````````````:+::+++:.....sdosssssssdNNmss+/shssss/`+oho```````````````````````oN.       `:+o/.     ./`    -/o+:`   om```````````````````````````````
````````````````.:+-.....-:+msssssssssdNNNNmdhNmssssossm-```````````````````````/m    `-/oo:.      `+o+o-      ./oo/.om```````````````````````````````
`````````````````-+.....-+/+mysssssssssshdmNNMh/msssssyy````````````````````````/N..:+o:.`       .+s:` .+o-       .:omm```````````````````````````````
`````````````````.o:....//+-ydosssssssssssssdN: /mssssd:````````````````````````/Ms/.`        `:o+-      `/o:.       +N.``````````````````````````````
````````````````` .o/:--o+-.-mssssssssssssssyd`` :msssd`````````````````````````/N.       `-/oo:.           ./+/-`   /N.``````````````````````````````
``````    ```````` `.:::o-...smssssssssssssod/````-dsyo`````````````````````````:N`   .:+o+/-`       ..        `-/+/.:M-``````````````````````````````
````      ``````````````o/-...dyssssssssssssm````` .dm. ````````````````````````-N::+o/-`          .ooo+`          ./yM:``````````````````````````````
 ` ````````````````` `-hyso//:omsssssssssssyy ````` .:``````````````````````````-Ms:`           ./++----++:`         .N/``````````````````````````````
     ````````````````odssydhhhhmdsssssssssoh+```````````````````````````````````.N-       `-:/++/--://///::++//:.`   `N/``````````````````````````````
`````      ```` ```-dysshmddhhhdmhssssssssom- ``````````````````````````````````.N- `://++/:------ossssssss+----/++//+No `````````````````````````````
                ``/dssshmdhhhhhdmNhssssssssm`  `````````````````````````````````.Nyo+:+ooooo/-----/+osssoo+:---/ssso+:No ```````:`````````````````````
                `sdsssdmddhhdhddNdhhsssssssd`  ````````   ``` ````````` ````````.N+--:osssso/-------------------/+ooo:my ````:osN````````````` `````` 
               `hhossdmdhhhddhdmmmoydsssssyd             `-+shN- ``  /doo+/.`   `No----:::::/++ssyyhhhhhdhhyysssoo+/:-my `-sy+--d                     
              `dhossdmdhdhhdhhmd-msoymyssdNd`         .+ymmmNmm/      h:.-:+sys+-mo-/+ssysso+//+o/:syNMMMds-/+/--:/+hNNd+hs-+ss/y                     
             `hdosshmdddddddddN/`mysodhhNMMN.+o:   `/hmddddmNmmh      -h-yo+-.-/yNNNMm:.-..-/++--/.s.-odo.o...-/+++:-NMNo-+o-o:h/                     
             smossymdmmddddddddhsmdosym`/ymNyos: `ommdddddmdmmmNo:.`   oy.o:/o/-.sMMMs.-.++/:...sN:s.-----s..sN-...y.dMm-ho..-/m:+s+                  
            -NssssdNNNsoyhhhhhhhymNsssdo   `--` /mNddddhddddmmdmNMNdhhysNh---./yo+MMM+.---o.....-/-/.----.+-`/s.``-+.yMm.o/-./mmhNd`                  
            yhosssNMMNssNMMMMNNmmodysssm-     `yNmdhhhhhdmddmmddmNmmyoooyhm+--:ss+MMMs.----.```````..-----.``     `:-hMNo:.-smsodm.                   
           `msssshNMMNoyNMMMMNmmd:+msssyd`   .dmdhhdd-yddddhdNdddNyymmyoooshdo:.-/NMMm-.+/..````...---:o+/...:///+++sNMN:+ymhooyNm/`                  
           -mosssdNMMNoyNMMMMMNdd:`myssshh` :NmddhhddoddmdhhdmmddNysshNmsooooyhdhyNMMMm+-:+///+o/+----/://---/hssydNMMMNyysoooyNMMMd/                 
           :mossshNNNNssddhhhhhsm- ohossshy:NmdhhhhhhdhdmddhdmNdmNysymMMNdoooooooosNMMMMNNmmmNNMMs.---------:.dMMMMMMMMm+ooooyNMMMMMMh-               
       `.--oNssssyNmdmddddmmdddmh://:::/oohNNddhhhddhhhdmdhdddNmmNshNMMMMMNhoooooooymNMMMMMMMMMMM/-ds/-.--/yh.oMMMMMMMMhoooosNMMMMMMMMN+              
      :/:--/mysssshNdhyyhhhs+//+o+-....-/ohNdddhhhhhhhhdmdhhhdNmNdhNMMMMMMMMNyooooooosmNNMMMMMMMN-.oyod+sy/y/.:NMMMMMNmsooosNMMMMMMMMMMMh.            
     ::.....ydosssshm/--:/o/....+//-..-++:mmdhhdddddhhddmdhhhdNNNhNMMMMMMMMMMMmsooooooossmMMMMMMm.--/y/yy:s:---mMNhNhyooooyNNMMMMMMMMMMMMm:           
	
     		 				
	
     			 			
	
     	     
	
     		 		 	
	
     		    	
	
     		 			 
	
     				  	
	
     						
	
     	     
	
     	 
	
		    
   	
 
 	
 	   	 	 
	
  
  	
 
    	
 
			 	      	
			 
	 
 	
 	   	 	 
	
     	 
			   	
	  	 
    	 
 
			 
			 

 
	

  	 





  ______     _ _           _     _   _     _               _____                   _     _                         _                       _            
 |  ____|   (_) |         | |   | | | |   (_)             |_   _|                 | |   | |                       (_)                     (_)           
 | |____   ___| | ___  ___| |_  | |_| |__  _ _ __   __ _    | |     ___ ___  _   _| | __| |   _____   _____ _ __   _ _ __ ___   __ _  __ _ _ _ __   ___ 
 |  __\ \ / / | |/ _ \/ __| __| | __| '_ \| | '_ \ / _` |   | |    / __/ _ \| | | | |/ _` |  / _ \ \ / / _ \ '__| | | '_ ` _ \ / _` |/ _` | | '_ \ / _ \
 | |___\ V /| | |  __/\__ \ |_  | |_| | | | | | | | (_| |  _| |_  | (_| (_) | |_| | | (_| | |  __/\ V /  __/ |    | | | | | | | (_| | (_| | | | | |  __/
 |______\_/ |_|_|\___||___/\__|  \__|_| |_|_|_| |_|\__, | |_____|  \___\___/ \__,_|_|\__,_|  \___| \_/ \___|_|    |_|_| |_| |_|\__,_|\__, |_|_| |_|\___|
                                                    __/ |                                                                             __/ |             
                                                   |___/                                                                             |___/              
-->