{% load static %}
<h1>You Finished!</h1>
<style>
        p {
                text-align: center !important;
                font-size: 24px;
        }
        .qdiv {
                width: 100%;
        }
        .qimg {
                display: block !important;
                margin: auto !important;
                padding: 10px;
        }
</style>
<p>Congrats, you've finished! Take some time and pat yourself on the back, we know this wasn't easy. In case you've finished first, we'll reach out to you soon. </p>
