{% load static %}
<h1>You Finished!</h1>
<style>
        p {
                text-align: center !important;
                font-size: 24px;
        }
        .qdiv {
                width: 100%;
        }
        .qimg {
                display: block !important;
                margin: auto !important;
                padding: 10px;
        }
</style>
<p>Congrats, you've finished! Take some time and pat yourself on the back, we know this wasn't easy.</p>
<hr>
<p>First place goes to - Big News Morgans</p>
<hr>
<p>And the runner ups are - Stanley Ipkiss, and MissMe</p>
