

{% load static %}
{% include "base.html" %}

<body>
	<link rel="stylesheet" type="text/css" href="{% static 'css/elmatrico/style.css' %}">
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">


	<script type="text/javascript">
		{% if message %}
		alert ( "{{ message }}" );
		{% endif %}
	</script>
	<style type="text/css">
		.title {
			font-family: 'Orbitron', sans-serif;
			text-align: center;
			font-size: 5em;
		}
		.logo {
			width: 25%;
		}
		
		@media(max-width:768px){
			.title {
				font-size: 2em;
			}
			.navbar-brand {
				width: 50%;
				float: right;
			}
			.logo {
				width: 100%;
			}
			.title {
				font-size: 3em;
			}
		}

	</style>

	

	
  <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/">
	    <img src="{% static 'img/logo.png' %}" class="logo" alt="">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <!-- <li class="nav-item">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li> -->
	      {% if user.is_authenticated %}
	      <li class="nav-item">
	        <a class="nav-link">{{ user.get_username }}</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/dashboard">EN18IITH{{ profile.elanids|stringformat:"05d" }}</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/login/logout/">Logout</a>
	      </li>
	      {% else %}
	      <li class="nav-item">
	        <a class="nav-link" href="/login">Login/SignUp</a>
	      </li>
	      {% endif %}
	    </ul>
	  </div>
	</nav>
	
	<!-- <div class="container cover" style="margin: auto;text-align: center;"><img src="{% static 'img/el-matrico.png' %}" width=80%;></div>
	<div class="container cover" style="margin: :auto;text-align: center;"><img src="{% static 'img/mathworks.png' %}" width=60%;></div><br> -->
	<h1 class="title">CRYPTEX</h1>
	<div class="container content" style="margin-bottom:1%;padding: 1%;">		
		
		<div class="container submission" style="display: block">
			<h3>Rules</h3>
		<ul>
		<li>Every question has an answer. You may not understand the question but there is an answer. Always.</li>
		<li>‎The Council of Admins' decisions is absolute, and will be enforced. </li>
		<li>‎We've set up a working forum for you to use - the Admins shall post hints to questions as time goes on.</li> 
		<li>Feel free to ask, but DO NOT REVEAL THE ANSWERS. Doing so will get you booted out/give the boot. </li>
		<li>‎Follow the hints from anyone but the admins at your own peril. </li>
		</ul>
		<h3>Answer format</h3> 
		<p>The answers to all questions must written in  LOWER CASE LETTERS WITH NO S P A C E S OR PUNCTUATION MARKS!!! notlikethatlikethis</p><br>

		<p>Google is your best friend. Usually.</p> 
		</div>
	</div>
	{% if user.is_authenticated %}
        
	{% else %}
	<div class="container content" style="margin-bottom: 10%;">
		</p><p style="text-align: center;">Login to participate
		</p>
    <p style="text-align: center;"><a href="/login"><button class="btn btn-primary">Login / Sign Up</button></a></p>
	{% endif %}
	</div>
	{% if user.is_authenticated %}
	
	<div class="container question" style="text-align: center;margin-bottom:20%">
	{% if registered %}
	<p style="text-align: center;">Events starts this friday, 12th January</p>

	 {% if True %}
     <form method="post" name="form" id="form" style="margin:auto;width:50%;text-align: center" enctype="multipart/form-data">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button  class ="btn btn-primary" type="submit">Play</button>
    </form>
	 
    {% endif %}
    {% else %}
    <p style="margin:auto;width:100%;text-align: center">Events starts this friday, 12th January</p>
	<p style="margin:auto;width:100%;text-align: center">Register to get email notification when event goes live.</p>
	<p style="text-align: center;"><a href="/register/cryptex"><button class="btn btn-primary">Register for this Event</button></a></p>
    {% endif %}
    {% endif %}
	</div>
	<div class="footer" style="text-align: center;margin-top: 5%;background-color: #eeeeee;bottom: 0;left:0;position: fixed;width: 100%;">For any technical issues, contact to web@elan.org.in</div>
</body>
