
{% load static %}
{% include "base.html" %}

<body>
	<link rel="stylesheet" type="text/css" href="{% static 'css/elmatrico/style.css' %}">
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">

	<script type="text/javascript">
		{% if message %}
		alert ( "{{ message }}" );
		{% endif %}
	</script>
  <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/">
	    <img src="{% static 'img/logo.png' %}" width=25% alt="">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <!-- <li class="nav-item">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li> -->
	      {% if user.is_authenticated %}
	      <li class="nav-item">
	        <a class="nav-link" href="/login/logout/">{{ user.get_username }}</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/login/logout/">EN18IITH{{ profile.elanids|stringformat:"05d" }}</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/login/logout/">Logout</a>
	      </li>
	      {% else %}
	      <li class="nav-item">
	        <a class="nav-link" href="/login">Login/SignUp</a>
	      </li>
	      {% endif %}
	    </ul>
	  </div>
	</nav>
	
	<div class="container cover" style="margin: auto;text-align: center;"><img src="{% static 'img/el-matrico.png' %}" width=80%;></div>
	<div class="container cover" style="margin: :auto;text-align: center;"><img src="{% static 'img/mathworks.png' %}" width=60%;></div><br>
	{% if user.is_authenticated %}
	<h1>Event start on Dec 29th 2017 </h1>
	
	{% endif %}

	<div class="footer" style="text-align: center;margin-top: 5%;background-color: #eeeeee;bottom: 0;left:0;position: fixed;width: 100%;">For any technical issues, contact to web@elan.org.in</div>
</body>
<script>

	$("#form").submit(function() {
  if (window.File && window.FileReader && window.FileList && window.Blob) {
    var file = $('#id_file')[0].files[0];

    if (file && file.size > 2 * 1024 * 1024) {
      alert("File " + file.name + " of type " + file.type + " is too big");
      return false;
    }
  }
});


// Set the date we're counting down to
var countDownDate = new Date("Jan 4, 2018 :0:0").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    
    // Find the distance between now an the count down date
    var distance = countDownDate - now;
    
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
}, 1000);
</script>
