
{% load static %}
{% include "base.html" %}

<body>
	<link rel="stylesheet" type="text/css" href="{% static 'css/elmatrico/style.css' %}">
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<script type="text/javascript">
		{% if message %}
		alert ( "{{ message }}" );
		{% endif %}
	</script>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/">
	    <img src="{% static 'img/logo.png' %}" width=25% alt="">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <!-- <li class="nav-item">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li> -->
	      {% if user.is_authenticated %}
	      <li class="nav-item">
	        <a class="nav-link" href="/login/logout/">{{ user.get_username }}</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/login/logout/">Logout</a>
	      </li>
	      {% else %}
	      <li class="nav-item">
	        <a class="nav-link" href="/login">Login/SignUp</a>
	      </li>
	      {% endif %}
	    </ul>
	  </div>
	</nav>
	
	<div class="container cover"><img src="{% static 'img/matlab.png' %}" width=100%;></div><br>
	<div class="container content">
		<h1 style="text-align:center">ELMATRICO</h1>   
		
		{% if user.is_authenticated %}
    	<div class="container rules" style="display: block">
			<h3>General Rules</h3>
			<ul style="width:100%;">
			<li>The competition must be played individually.</li>
			<li>The problem statement is divided into 3 parts - easy , moderate and difficult.</li>
			<li>All the question in easy part carries 5 marks,moderate 10 marks and difficult 30 marks</li>
			<li>Plagiarism will result in disqualification.</li>
			<li>All the relevant information regarding The question is given in the question itself.</li>
			<li>The organisers verdict is final.</li>
			</ul>	
		</div>
		<div class="container submission" style="display: block">
			<h3>Submission Rules</h3>
			<ul style="width:100%;">
			<li>The Matlab code and the answer should be submitted as a zip file in the portal itself.</li>
			<li>Participants are expected to follow the naming convention.</li>
			<li>Matlab code and the answer of each question should be given name according to the question number itself.<br>
			   example: answers code for question 1 should be submitted as 
			"< question_1_code>" and answer as "< question_1_ans />" </li>
			<li>submission is not allowed after the set deadline.</li>
			<li>The submission is one time submission, check properly before submitting.</li>
			<li>The organiser verdict is final</li>
			</ul>	
		</div>
    {% else %}
    <p style="text-align:justify">Computer Simulations is an important aspect in the engineering world. This increases the demand for people who can use MATLAB and Simulink well.<br>
		ELAN & Nvision presents "EL MATRICO", an online event to inspire students acquaint with MATLAB and compete to show their potential to the world! Every year, hundreds of contestants compete with budding programmers from all over India to earn the coveted top spot,in this online contest.<br>
		Exciting prizes from mathworks awaits for participants who successfully complete easy and moderate questions.<br>
		Login to read Problem statements, Rules and more…
		</p>
    <p style="text-align: center;"><a href="/login"><button class="btn btn-primary">Login / Sign Up</button></a></p>
		{% endif %}
	</div>


	{% if user.is_authenticated %}
	<div class="container question">
		<button style="float: right;" type="button" class="btn btn-warning">Moderate</button>
		<h3>Question 1</h3>		
		<p>Given a frame of the signal, write a function to suppress all the frequency components less than or equal to 70Hz in the signal and returns the output of the discrete fourier transform(DFT).Submit the code and wave files obtained with and without filtering.
		</p>
	</div>
	<div class="container question">
		<button style="float: right;" type="button" class="btn btn-danger">Hard</button>
		<h3>Question 2</h3>
		<p>Solve a simple quadratic programming problem: find values of x that minimize
		f(x)=0.5(x<sub>1</sub><sup>2</sup>)+x<sub>2</sub><sup>2</sup>-x<sub>1</sub>x<sub>2</sub>-2x<sub>1</sub>-6x<sup>2</sup> subject to <ul class="list"><li>x<sub>1</sub> + x<sub>2</sub> ≤ 2</li><li>–x<sub>1</sub> + 2x<sub>2</sub> ≤ 2</li><li>2x<sub>1</sub> + x<sub>2</sub> ≤ 3</li><li>0 ≤ x<sub>1</sub></li><li> 0 ≤ x<sub>2</sub></li></p>
	</div>
	<div class="container question">
		<button style="float: right;" type="button" class="btn btn-warning">Moderate</button>
		<h3>Question 3</h3>
		<p>Classify the following data given training and testing data(IRIS dataset)</p>
		<a href="{% static 'question3.zip' %}">Click here to download files</a>
	</div>
	<div class="container question">
		<button style="float: right;" type="button" class="btn btn-warning">Moderate</button>
		<h3>Question 4</h3>
		<p>Find the average distance between two points identically distributed in a unit circle, with  <ul class="list"><li>R distributed - truncated normal (0,1)</li> <li>Theta- uniform distribution</li><li>Using a simulation</li></ul>
		</p>
	</div>
	<div class="container question">
		<button style="float: right;" type="button" class="btn btn-success">Easy</button>
		<h3>Question 5</h3>
		<p>Solve the system of linear equation given below<br>
		</p><p>$$ x-2y+3z=7 $$</p><p>$$ 2x+y+z=4 $$</p><p>$$ -3x-2y-2z=-10 $$</p>		
	</div>
	<div class="container question">
		<button style="float: right;" type="button" class="btn btn-success">Easy</button>
		<h3>Question 6</h3>
		<p>Find a skew symmetric matrix A which follow the below relationship</p><p>|A| = 28<br>Sum of first row is equal to 23<br>Sum of square of first column is 45</p>
	</div>
	<div class="container question">
		<button style="float: right;" type="button" class="btn btn-danger">Hard</button>
		<h3>Question 7</h3>
		<p>Create a space time model for a rigid rod with the equation of motion,<br>$${ d^2O \over dt^2 } = -10sinO - 2{ dO \over dt } + u $$<br> where u is the torque applied and phi is the angle made by the rod with its initial position
		U can make a state space model on simulink or code
		</p>		
	</div>
	<div class="container question">
		<button style="float: right;" type="button" class="btn btn-warning">Moderate</button>
		<h3>Question 8</h3>
		<p>Given 5 points of a pentagon, find the maximum area that can be formed by two diagonals from a same vertex and a side included
			<ul class="list"><li>(12,10)</li>
				<li>(10.65,2.34)</li>
				<li>(2.334, 2.86)</li>
				<li>(4.566,12)</li>
				<li>(8.366,14)</li></p>		
	</div>
	<div class="container question">
		<button style="float: right;" type="button" class="btn btn-warning">Moderate</button>
		<h3>Question 9</h3>
		<p>Solve the below differential equation and plot the graph.</p>
		<p>$$ xln(x) {dy \over dx} +y = 2xln(x) ,(x ≥1)  $$</p>		
	</div>
	<div class="container question">
		<button style="float: right;" type="button" class="btn btn-warning">Moderate</button>
		<h3>Question 10</h3>
		<p>A signal X is transmitted. The signal at the receiver contains noise and can be approximated as Y=mX+c.If the transmitted and received data are input and output respectively, what are the optimum values of m and c.
		</p>
		<a href="{% static 'question10.zip' %}">Click here to download files</a>		
	</div>
	<div class="container question">
		<button style="float: right;" type="button" class="btn btn-danger">hard</button>
		<h3>Question 11</h3>
		<p>Given image was blurred by convolving a gaussian filter with the true image and then complemented.
		Now find the original image by complementing of given image and deblurring it.Submit code and output image files.<br>
		Filter :It is rotationally symmetric Gaussian lowpass filter of size 7 with standard deviation 10
		</p>
		<a href="{% static 'question11.zip' %}">Click here to download files</a>		
	</div>
	<div class="container question">
		<button style="float: right;" type="button" class="btn btn-success">Easy</button>
		<h3>Question 12</h3>
		<p>$$ (y-3)^2 = 16x  $$</p>
		<p>Find the area of curve obtained with x-axis, when the focus of the above curve is shifted to origin and the axis is rotated anticlockwise by an angle of 45 degrees.</p>		
	</div>
	<div class="container question">
		<button style="float: right;" type="button" class="btn btn-success">Easy</button>
		<h3>Question 13</h3>
		<p>$$ (y-3)^2 = 16x  $$</p>
		<p>Plot Horizontal Asymptotes and Absolute Maxima and Minima and inflection points for below function</p>
		$$ F(x) = { 3x^2+4x-1 \over 2x^2+4 } $$		
	</div>
	<div class="container question" style="text-align: center;">
		{% if doc %}
			<p style="text-align: center">You have submitted {{ doc.document }}</p>
	        <p style="text-align: center">Submitted at {{ doc.uploaded_at }}</p>
        {% else %}
        <form method="post" enctype="multipart/form-data">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <button type="submit">Upload</button>
        </form>
        
        {% endif %}
	</div>
	
	{% endif %}

	<div class="footer" style="text-align: center;background-color: #eeeeee;">For any technical issues, contact to web@elan.org.in</div>
</body>
<script type="text/javascript">
	$()
</script>

</html>
