<!DOCTYPE html>
<html lang="en">
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>About | ELAN & &eta;vision 2018</title>
   <link rel="shortcut icon" href="favicon.png' %}" type="image/x-icon">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="ηvision is the techno-management fest of IIT Hyderabad.">
	<meta name="copyright" content="ELAN & ηvision 2018">
	<meta name="author" content="ELAN & ηvision 2018">
	<meta name="keyword" content="elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,awesome,workshops,kludge,infero,cephid,ecell,robotics,equilibria,torque,electronica">
	<meta name="robots" content="index, follow">
	<meta name="theme-color" content="#283389">
	<meta property="og:site_name" content="ELAN & ηvision 2018">
	<meta property="og:title" content="ELAN & ηvision 2018">
	<meta property="og:type" content="website">
	<!-- <meta property="og:image" content="https://nvision.org.in/img/beta/logo.png' %}"> -->
	<!-- <meta property="og:url" content="https://nvision.org.in/sponsors/"> -->
	<meta property="og:description" content="ELAN & ηvision 2018: Techno-cultural Fest of IIT Hyderabad">
  {% load static %}
	  <link rel="stylesheet" type="text/css" href="{% static 'css/beta/bootstrap.min.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/beta/navbar.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/beta/about.css' %}">
  </head>
  <body>
  	<!-- Navbar -->
  	<nav class="navbar navbar-ct-blue navbar-transparent" role="navigation" style="margin-bottom: 3em;">
      <div class="container" style="width:90%!important;max-width:3000px;margin:0;padding:0;margin:auto">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-logo" href="/">
                <div class="logo nav-logo"><img src="{% static 'img/beta/logo-big.png' %}" style="max-width: 100%;"/></div>
              </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="btn-2 active" href="/about/">
                            <p>About</p>
                        </a>
                    </li>
                    <li>
                        <a class="btn-2" href="sponsors">
                            <p>Previous Sponsors</p>
                        </a>
                    </li>
                    <li>
                        <a class="btn-2" href="workshops">
                            <p>Workshops</p>
                        </a>
                    </li>
                    <li>
                        <a class="btn-2" href="events">
                            <p>Events</p>
                        </a>
                    </li>
                     <li>
                        <a class="btn-2" href="team">
                            <p>Team</p>
                        </a>
                    </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<!--  end navbar -->
  	<h1 class="text-center">About Us</h1>
  	<hr>
  	<div class="row">
  	<div class="col-lg-6 col-md-10"><p class="text">Elan & &eta;vision, the most anticipated and grandiose festival of IIT Hyderabad, is back with a conglomerate of splendiferous events to galvanize the mob. Since inception, its fervid tendrils have touched the hearts of every adroit organiser and participant leaving a legacy to be upheld by its family of dedicated students.<br><br>

	Elan and &eta;vision is an elegant brew of culture, innovation and feverish exhilaration stimulating an atmosphere of intense competitions and professional performances.
	With a carefully fabricated range of events, covering varied genres in art, music and technology, we have something for everyone.<br><br>

	Elan & &eta;vision 2018, arguably the grandest techno-cultural fiesta you will ever come across, promises an eximious experience for spectators and participants alike.</p></div>
    <div class="col-lg-6 col-md-12 " style="margin:auto;">
      <div  style="width:70%;margin:auto;margin-bottom:20%;"><div class="videowrapper">
  <iframe  src="https://www.youtube.com/embed/MNSV0p2qykE" frameborder="0" allowfullscreen></iframe></div>
</div>
    </div>
	</div>

	<!-- <div class="embed-responsive embed-responsive-4by3">
	    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY">
	    </iframe>
	</div> -->

  <!-- <div class="footer"><a href="https://www.facebook.com/elan.iithyderabad/"><img class="footerimg" src="{% static 'img/beta/footer/fb.png' %}"></a><a href="https://twitter.com/elan_iith"><img class="footerimg" src="{% static 'img/beta/footer/twitter.png' %}"></a><a href="https://www.instagram.com/elan_iith/"><img class="footerimg" src="{% static 'img/beta/footer/insta.png' %}"></a>
  <a href="https://www.youtube.com/user/ElanIITHyderabad"><img class="footerimg" src="{% static 'img/beta/footer/yt.png' %}"></a></div> -->
  <div class="footer"><a target="_blank" href="https://twitter.com/elan_iith"><img class="footerimg" src="{% static 'img/beta/footer/twitter.png' %}"></a><a target="_blank" href="https://www.facebook.com/elan.iithyderabad/"><img class="footerimg" src="{% static 'img/beta/footer/fb.png' %}"></a><a target="_blank" href="https://www.instagram.com/elan_and_nvision/"><img class="footerimg" src="{% static 'img/beta/footer/insta.png' %}"></a>
    <a target="_blank" href="https://www.youtube.com/user/ElanIITHyderabad"><img class="footerimg" src="{% static 'img/beta/footer/yt.png' %}"></a></div>
  </body>
  <script type="text/javascript" src="{% static 'js/beta/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/beta/bootstrap.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/beta/navbar.js' %}"></script>
</html>
