<!DOCTYPE html>
<html lang="en">
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>Automation Using Cloud Computing & Artificial Intelligence | ELAN & &eta;vision 2018</title>
      <link rel="icon" href="favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ηvision is the techno-management fest of IIT Hyderabad.">
    <meta name="copyright" content="ELAN & ηvision 2018">
    <meta name="author" content="ELAN & ηvision 2018">
    <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,awesome,workshops,kludge,infero,cephid,ecell,robotics,equilibria,torque,electronica">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#283389">
    <meta property="og:site_name" content="ELAN & ηvision 2018">
    <meta property="og:title" content="ELAN & ηvision 2018">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
    <!-- <meta property="og:url" content="https://nvision.org.in/sponsors/"> -->
    <meta property="og:description" content="ELAN & ηvision 2018: Techno-cultural Fest of IIT Hyderabad">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' %}" />
  </head>

  <style type="text/css">
    #home {
        background: url("{% static 'img/ai.JPG") no-repeat center center fixed; 
        display: table;
        height: 100%; 
        position: relative;
        width: 100%;
        -webkit-background-size: 80%;
        -moz-background-size: 80%;
        -o-background-size:60%;
        background-size: 60%;
        /*-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size:cover;
        background-size: cover;*/
    }
  </style>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
      <div class="container" style="width:90%!important;max-width:1920px;margin:auto;padding:0;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-logo" href="index.html">
                <div class="logo nav-logo"><img src="{% static 'img/logo-big.png" style="max-width: 100%;"/></div>
              </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
                    <li id="about-btn">
                        <a class="btn-2">
                            <p>About</p>
                        </a>
                    </li>
                    <li id="register-btn">
                        <a class="btn-2">
                            <p>Register</p>
                        </a>
                    </li>
                    <li id="highlights-btn">
                        <a class="btn-2">
                            <p>Highlights</p>
                        </a>
                    </li>
                    <li id="outline-btn">
                        <a class="btn-2">
                            <p>Outline</p>
                        </a>
                    </li>
                    <li id="contact-btn">
                        <a class="btn-2">
                            <p>Contact</p>
                        </a>
                    </li>

                    <li id="hospitality-btn">
                        <a class="btn-2">
                            <p>Hospitality</p>
                        </a>
                    </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<!--  end navbar -->
<!-- first section - Home -->
<div id="home" class="home"></div>
      <div class="text-center" id="arrow-div" style=" margin-top:-2em;font-size:3em;"><i id="arrow" class="fa fa-chevron-down"  aria-hidden="true"></i></div>
<!-- /first section -->
<!-- second section - About -->
<div id="about" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
<h1 class="mhead">Automation Using Cloud Computing & Artificial Intelligence<hr></h1>
<h2 class="heading">About</h2><hr style="width: 50%;" /><br>
<p class="lead">
Elan & ηvision, IIT Hyderabad in association with Entrench Electronics presents to you a workshop on Automation Using Cloud Computing & Artificial Intelligence. <br><br>
Have you ever asked yourself “Can a machine think and behave like humans do?”  Have you ever felt too lazy that you thought you could use ‘thinking machines’ to do your work for you? Have you ever wondered what cloud computing is? You are probably using cloud computing right now, even if you don’t realise it. If you use an online service to send email, edit documents, watch movies or TV, listen to music, play games or store pictures and other files, it is likely that cloud computing is making it all possible behind the scenes <br><br><br>
This workshop, conducted by Elan & ηvision, IIT Hyderabad in association with Entrench Electronics, is specifically designed to provide platform for knowledge flow between industries & institutes, create awareness among the students on these technologies, and also an opportunity to demonstrate their area of research and interact with industry people<br><br>

“The science and engineering of making intelligent machines, especially intelligent computer programs”.  <br>- John McCarthy. 

<br><br><br>
<div id="register" class="lead">
Venue : IIT Hyderabad <br>
Date : 23rd and 24th September <br>
Timing : 10:00 AM to 6:00 PM <br>
Fee per person - ₹ 1100/- <br></div>
</p>
<div class="row text-center" id="register">
      <div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-3"><a href="https://www.townscript.com/e/automation-using-cloud-computing-and-ai-233244" target="_blank" class="btn btn-sm animated-button thar-three">Pay Now</a></div>
      <div class="col-md-3 col-sm-3 col-xs-6"><a href="https://docs.google.com/forms/d/1Y29_p9DPb9NDCVOXwKBUH5P3g3Ut5MOwmsRPYT8Pvfk/viewform?c=0&w=1&edit_requested=true" target="_blank" class="btn btn-sm animated-button thar-three">Register</a></div> 

      <!-- <div class="col-md-12 col-sm-12 col-xs-12" style="font-size:2.3em;">Registrations Closed !!</div> -->
</div>
</div>
</div>
</div>
</div>
<!-- /second section -->
<!-- third -->
<div id="highlights" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Highlights</h2><hr style="width: 50%;" /><br>
<ul class="hl">
<li>Keen knowledge about Artificial Intelligence and Cloud Computing</li>
<li>Robot Education and Future of Robotics and Automation</li>
<li>Advancement Technologies in System Integration</li>
<li>Get trained by professionals</li>
<li>Certificate from Elan & ηvision, IIT Hyderabad</li>
<li>Kit of Software tools are provided for each student</li>
<li>Live Demos and Interactive Question & Answer sessions</li>
<li>No prerequisites 

</ul>
</div>
</div>
</div>
</div>
<!-- third end -->
<!--fourth -->
<div id="outline" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Outline</h2><hr style="width: 50%;" /><br>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <span class="d1-lead">Day 1- Session 1:</span><br>
    <ul class="d1">
      <li>Advancement Technologies in System Integration</li>
      <ul class="d1">
        <li>Application of system Integration in industries</li>
        <li>Advancement in Automation hardware</li>
        <li>recent advances in Flexible Automation</li>
        <li>Scope of System Integration</li>
        <li>Recent Developments and their issues in System Integration</li>
        <li>Challenges of System Integration</li>
        <li>Impact of Globalization</li>
        <li>Selected Integration issues and their solution</li>
        <li>IT issues in Flexible manufacturing System</li>        
      </ul>
      <li>Project 1: Simple LED Program for AI Cloud Model</li>
      <li>Project 2: Integrating Sensors & Reading Environmental Physical Values.</li>
      <li>Project 3: Reading Environmental Values on Android Smartphone.</li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-12">
    <span class="d1-lead">Day 1- Session 2:</span><br>
    <ul class="d1">
      <li>Latest Technologies in Artificial Intelligence</li>
      <ul class="d1">
        <li>Artificial Neural Network</li>
        <li>Human-Computer interaction</li>
        <li>Barriers to strong Artificial Intelligence</li>
        <li>Programming Languages in Artificial Intelligence</li>
        <li>Software's used for Artificial Intelligence</li>
      </ul>
      <li>Project 4: Voice Controlled Mini Home Automation using Android Smartphone.</li>
      <li>Project 5: Control Devices using Localhost Web Server for Home Automation.</li>
    </ul>
  </div>
</div>

<div class="row below">
  <div class="col-md-6 col-sm-12">
    <span class="d1-lead">Day 2- Session 1:</span><br>
<ul class="d1">
  <li>Robot Education Future trends of Robotics & Automation</li>
  <ul class="d1">
    <li>Kinematics and Dynamics of Robots</li>
    <li>Software for Robot modeling and Simulation</li>
    <li>Skills development in Robotic</li>
    
  </ul>
  <li>Project 6: Creating own Android App using MIT App Inventor & controlling AI Cloud Model connected devices.</li>
  <li>Project 7: Being Social on Twitter & update status on Twitter through AI Cloud Model.</li>
    
</ul>
  </div>
  <div class="col-md-6 col-sm-12">
    <span class="d1-lead">Day 2- Session 2:</span><br>
    <ul class="d1">
  <li>Future trends of Robotics & Automation </li>
  <ul class="d1">
    <li>Advancement of Robotics and Automation</li>
    <li>Future trends in Robotics and Automation</li>
    <li>Issues regarding this</li>
  </ul>  
  <li>Project 8: Use AICloud Model to Upload free data from Environmental Sensors to Cloud Server.</li>
  <li>Project 9: Automatically Tweet Sensor Data on Twitter. </li>
  <li>Project 10: Receive Automatic Call Notification on Mobile Phone for Burglar Alarm using IoT Platform.</li>
  <li>Project 11: Control Electronic Devices from anywhere across the world using Internet & Mobile App.</li>
</ul>

  </div>
</div><br><br>
  <div class="row">
    <div class="col-md-12 text-center col-sm-12">
      <span class="d1-lead d2-lead">Topics included</span>
      <ul class="d1 list-extra">
        <li>AI using Machine learning</li>
        <li>AI in Big data</li>
        <li>AI using cloud computing</li>
      </ul>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-md-12 text-center col-sm-12">
      <span class="d1-lead d2-lead">LAB</span>
      <ul class="d1 list-extra">
        <li>R programming</li>
        <li>Weka</li>
        <li>Amazon AWS</li>
        <li>Text Mining</li>
        <li>IBM Bluemix</li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!--fourth end -->
<!-- third -->
<div id="contact" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Contact Us</h2><hr style="width: 50%;" /><br>
  
    <div class="col-sm-12 col-md-6 text-center ">
    <div class="card " style="width: 20rem;margin: auto">
          <figure class="effect-bubba">
            <img class="card-img-top image" style="border-radius:50%;" src="assets/img/team/suprabath.JPG">
          </figure>
          <div class="card-block"><br>
            <p class="card-title">Suprabath Reddy</p>
            <p class="card-content" >Technical Events Core</p>
            <p class="card-content">+91-9010501499</p>
            <p class="card-content">suprabath@elan.org.in</p>
            <div class="socialbtns">
              <li><a href="https://www.facebook.com/suprabathreddy9" class="fa fa-lg fa-facebook"></a></li>
            </div>
          </div>
        </div>
      </div>
 
  <div class="col-sm-12 col-md-6 ">
    <div class="card" style="width: 20rem;margin: auto">
        <figure class="effect-bubba">
          <img class="card-img-top image" style="border-radius:50%;" src="assets/img/team/aravind.JPG">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Aravind Ganesh</p>
          <p class="card-content" >Workshops Coordinator</p>
          <p class="card-content">+91-9490329561</p>
          <p class="card-content">aravind@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/aravindganesh.28" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
</div>
</div>
</div>
<!-- second section - About -->
<div id="hospitality" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
<h2 class="heading">Hospitality</h2><hr style="width: 50%;" /><br>
<p class="lead">Automation Using Cloud Computing & Artificial Intelligence workshop is being organized in the permanent campus of IIT Hyderabad (Kandi campus). Limited accommodation is available during workshop.
<br><br>
Please mail at  <a href="mailto:irfan@elan.org.in">irfan@elan.org.in</a> in advance and specify the duration of your stay (mention dates also) at IIT Hyderabad. Kindly mention your contact number in the mail. You will get a confirmation mail once your accommodation is confirmed. Kindly bring the e-copy/printout of the confirmation mail while coming for workshop. Accommodation charges – Rs 300  per person per day. Food coupons will be provided to you at the accommodation desk. Accommodation will be provided solely on sharing basis. <br><br></p>
  <div class="row">
    <div class="col-md-12 text-center col-sm-12">
      <ul style="color:white;font-size: 1.5em;list-style-type: none">
      <li style="text-align: center;"><a target="_blank" href="assets/docs/Hospitality_details.pdf">&nbsp;Accomodation Details</a></li><br>
      <li style="text-align: center;"><a target="_blank" href="assets/docs/Transport_details.pdf">&nbsp;Transportaion Details</a></li>
  </ul>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- /second section -->
<div class="footer"><a target="_blank" href="https://twitter.com/elan_iith"><img class="footerimg" src="{% static 'img/footer/twitter.png"></a><a target="_blank" href="https://www.facebook.com/elan.iithyderabad/"><img class="footerimg" src="{% static 'img/footer/fb.png"></a><a target="_blank" href="https://www.instagram.com/elan_and_nvision/"><img class="footerimg" src="{% static 'img/footer/insta.png"></a>
    <a target="_blank" href="https://www.youtube.com/user/ElanIITHyderabad"><img class="footerimg" src="{% static 'img/footer/yt.png"></a></div>

</body>
  <script type="text/javascript" src="{% static 'js/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/navbar.js"></script>
  <script type="text/javascript" src="{% static 'js/scroll.min.js"></script>

  <script>
      $.extend($.scrollTo.defaults,{
          axis:'y',duration:600
      });
    $('#arrow-div').on('click', '.fa.fa-chevron-down', function () {
        console.log("dd");
      $(window).scrollTo($("#about"));
      $(window).scrollTo("-=20px");
    });
    $('#about-btn').on('click',function () {
      $(window).scrollTo($("#about"));
      $(window).scrollTo("-=20px");
    });
    $('#register-btn').on('click',function () {
      $(window).scrollTo($("#register"));
      $(window).scrollTo("-=100px");
    });
    $('#highlights-btn').on('click',function () {
      $(window).scrollTo($("#highlights"));
      $(window).scrollTo("-=45px");
    });
    $('#outline-btn').on('click',function () {
      $(window).scrollTo($("#outline"));
      $(window).scrollTo("-=45px");
    });
    $('#contact-btn').on('click',function () {
      $(window).scrollTo($("#contact"));
      $(window).scrollTo("-=45px");
    });
    $('#hospitality-btn').on('click',function () {
      $(window).scrollTo($("#hospitality"));
      
    });
      
    $(function(){
        var navMain = $(".navbar-collapse"); // avoid dependency on #id
        // "a:not([data-toggle])" - to avoid issues caused
        // when you have dropdown inside navbar
        navMain.on("click", "a:not([data-toggle])", null, function () {
        navMain.collapse('hide');
    });
 });
  </script>

</html>

