<!DOCTYPE html>
<html lang="en">
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>Auto-Mechanics & Motor Sport Engineering | ELAN & &eta;vision 2018</title>
      <link rel="icon" href="favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ηvision is the techno-management fest of IIT Hyderabad.">
    <meta name="copyright" content="ELAN & ηvision 2018">
    <meta name="author" content="ELAN & ηvision 2018">
    <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,awesome,workshops,kludge,infero,cephid,ecell,robotics,equilibria,torque,electronica">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#283389">
    <meta property="og:site_name" content="ELAN & ηvision 2018">
    <meta property="og:title" content="ELAN & ηvision 2018">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
    <!-- <meta property="og:url" content="https://nvision.org.in/sponsors/"> -->
    <meta property="og:description" content="ELAN & ηvision 2018: Techno-cultural Fest of IIT Hyderabad">
  <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/register.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  </head>
  <style>
      #home {
        background: url("./assets/img/Autoedited.jpg") no-repeat center center fixed;
        display: table;
        height: 100%;
        position: relative;
        width: 100%;
        -webkit-background-size: 80%;
        -moz-background-size: 80%;
        -o-background-size:60%;
        background-size: 60%;
        /*-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size:cover;
        background-size: cover;*/
}
  </style>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
      <div class="container" style="width:90%!important;max-width:1920px;margin:auto;padding:0;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-logo" href="index.html">
                <div class="logo nav-logo"><img src="./assets/img/logo-big.png" style="max-width: 100%;"/></div>
              </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
                    <li id="about-btn">
                        <a class="btn-2">
                            <p>About</p>
                        </a>
                    </li>
                    <li id="register-btn">
                        <a class="btn-2">
                            <p>Register</p>
                        </a>
                    </li>
                    <li id="highlights-btn">
                        <a class="btn-2">
                            <p>Highlights</p>
                        </a>
                    </li>
                    <li id="outline-btn">
                        <a class="btn-2">
                            <p>Outline</p>
                        </a>
                    </li>
                    <li id="contact-btn">
                        <a class="btn-2">
                            <p>Contact</p>
                        </a>
                    </li>

                    <li id="hospitality-btn">
                        <a class="btn-2">
                            <p>Hospitality</p>
                        </a>
                    </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<!--  end navbar -->
<!-- first section - Home -->
<div id="home" class="home"></div>
      <div class="text-center" id="arrow-div" style=" margin-top:-2em;font-size:3em;"><i id="arrow" class="fa fa-chevron-down"  aria-hidden="true"></i></div>
<!-- /first section -->
<!-- second section - About -->
<div id="about" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
<h1 class="mhead">Auto-Mechanics & Motor Sport Engineering<hr></h1>
<h2 class="heading">About</h2><hr style="width: 50%;" /><br>
<p class="lead">
Elan & ηvision, IIT Hyderabad in association with Entrench Electronics presents to you a workshop on Auto-mechanics & Motorsport Engineering<br><br>
Have you ever got the thought of making and driving one of those Fast and Furious cars? Have you ever imagined how such a tiny IC engine is controlling everything in an automobile? Have you ever thought about what it takes to make the insanely powerful beasts that you drive in your dreams? <br><br>
This workshop, conducted by Elan & ηvision, IIT Hyderabad in association with Entrench Electronics, is specifically designed to provide platform for knowledge flow between industries & institutes, create awareness among the students on these technologies, and also an opportunity to demonstrate their area of research and interact with industry people.
<br><br><br>

“The automobile engine will come, and then I will consider my life's work complete.”  <br>-  Rudolf Diesel

<br><br><br>
<div id="register" class="lead">
Venue : IIT Hyderabad <br>
Date : 23rd and 24th September <br>
Timing : 10:00 AM to 6:00 PM <br>
Fee per person - ₹ 1100/- <br></div>
</p>
<div class="row text-center" id="register">
      <div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-3"><a href="https://www.townscript.com/e/automechanics-and-motorsport-engineering-244213" target="_blank" class="btn btn-sm animated-button thar-three">Pay Now</a></div>
      <div class="col-md-3 col-sm-3 col-xs-6"><a href="https://docs.google.com/forms/d/1xNYgtzqntKZgCE55teDuXtbVRJMGXcJ6Kvbv9JuA51g/viewform?ts=59b1679c&edit_requested=true" target="_blank" class="btn btn-sm animated-button thar-three">Register</a></div>

      <!-- <div class="col-md-12 col-sm-12 col-xs-12" style="font-size:2.3em;">Registrations Closed !!</div> -->
</div>
</div>
</div>
</div>
</div>
<!-- /second section -->
<!-- third -->
<div id="highlights" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="heading text-center">Highlights</h2><hr style="width: 50%;" /><br>
        <ul class="hl">
          <li>Auto-Mechanics</li>
          <li>IC Engine </li>
          <li>Introduction to Race Engineering</li>
          <li>Race Terminology</li>
          <li>Energy & Transmission of Motor Sport Vehicles</li>
          <li>Charge Booster</li>
          <li>Capabilities of Sport vehicles</li>
          <li>Strength of Race vehicle components</li>
          <li>Aerodynamics of Race Vehicles</li>
          <li>Performance parameters of Race Vehicles</li>
          <li>Vehicle Dynamics</li>
          <li>Pit Stops</li>
          <li>Forces on Driver</li>
          <li>Modification Science</li>
          <li>Query Session</li>
          <li>Certificate Distribution </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- third end -->
<!--fourth -->
<div id="outline" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Outline</h2><hr style="width: 50%;" /><br></div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <span class="d1-lead">Day 1 Session 1</span><br>
    <span class="d1-lead" style="text-decoration:none">Auto Mechanics</span><br>
    <ul class="d1">
      <li>Introduction to Auto-Mechanics.</li>
      <li>Types of Chassis</li>
      <li>Suspension System</li>
      <ul class="d1">
        <li>Role</li>
        <li>Dependent Suspension</li>
        <li>Independent Suspension</li>
        <li>Advance Suspension</li>
        <li>Selection Method</li>
      </ul>
      <li>Steering System</li>
      <li>Braking System</li>
      <ul class="d1">
        <li>Role</li>
        <li>Classification</li>
        <li>Suitability</li>
        <li>High Performance brake material</li>
      </ul>
      <li>Fuel Supply System</li>
      <ul class="d1">
        <li>Carburetor</li>
        <li>Mechanical FI</li>
        <li>MPFI</li>
        <li>CRDI</li>
        <li>GDI</li>
      </ul>
    </ul>
  </div>
  <div class="col-md-6 col-sm-12">
  <span class="d1-lead">Day 1 Session 2</span><br>
    <span class="d1-lead" style="text-decoration:none">IC Engine</span>
    <ul class="d1">
      <li>Types of IC Engine</li>
      <li>4-Stroke Engine</li>
      <li>2-Stroke Engine</li>
      <li>Engine Layout and working</li>
      <li>Valves and Valve Timing</li>
      <li>Engine Cooling</li>
      <li>Turbochargers</li>
      <li>Superchargers</li>
      <li>Latest Technologies</li>
      <ul class="d1">
        <li>MPFi</li>
        <li>CRDi</li>
        <li>VVTi</li>
      </ul>
    </ul>
  </div>
  <div class="col-md-6 col-sm-12">

    <span class="d1-lead" style="text-decoration:none" >Introduction to Race Engineering</span><br>
    <ul class="d1">
      <li>Race engineering Means & Purpose</li>
      <li>Race Vehicle general Properties & Appearances</li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-12">
    <span class="d1-lead" style="text-decoration:none">Race Terminology</span><br>
    <ul class="d1">
      <li>Terms used during Race</li>
      <li>Terms used in Pit stops</li>
      <li>Scientific terms to be used to understand further technical topics</li>
    </ul>
  </div>
</div>


<div class="row below">
  <div class="col-md-6 col-sm-12">
    <span class="d1-lead">Day 2 Session 1</span><br>
    <span class="d1-lead" style="text-decoration:none" >Energy & Transmission of Motor Sport Vehicles</span><br>
    <ul class="d1">
      <li>High performance & behavior of engine</li>
      <li>Power to weight ratio</li>
      <li>Engine downsizing concept</li>
      <li>Over drive gear</li>
      <li>High RPM Engine requisite</li>
      <li>Spring less CAN concepts</li>
      <li>Camless engines</li>
    </ul>
    <span class="d1-lead d2-lead" style="text-decoration:none">Charge Boosters</span>
    <ul class="d1">
      <li> Turbo Charger</li>
      <li> Super Charger</li>
      <li> Nitrous Oxide Principle</li>
    </ul>
    <span class="d1-lead" style="text-decoration:none">Capabilities of Sport vehicles</span><br>
    <ul class="d1">
      <li> Acceleration capability</li>
      <li> Retardation capability</li>
      <li> Cornering Capability</li>
      <li> Leaning Capability</li>
    </ul>
    <span class="d1-lead d2-lead" style="text-decoration:none">Strength of Race vehicle components</span>
    <ul class="d1">
      <li> Body of F1 Car & Fairing of Moto GP Bike</li>
      <li> Soft Compound Sleek Tire</li>
      <li> Rims Brakes</li>
      <li> Engine Power</li>
      <li> Special Features</li>
    </ul>
    <span class="d1-lead" style="text-decoration:none">Aerodynamics of Race Vehicles</span><br>
    <ul class="d1">
      <li> Aerodynamic Introduction & Terminology</li>
      <li> Doubles DRS</li>
      <li> Advantages & Disadvantage on AD</li>
      <li> Application in Race Vehicle</li>
      <li> Evolution of Race Vehicle design</li>
    </ul>
  </div>



  <div class="col-md-6 col-sm-12">
  <span class="d1-lead d2-lead">Day 2 Session 2</span><br>
    <span class="d1-lead d2-lead" style="text-decoration:none">Performance parameters of Race Vehicles</span>
    <ul class="d1">
      <li> Engine Power</li>
      <li> Torque</li>
      <li> RPM</li>
      <li> Cylinder Capacity</li>
      <li> Power to weight ratio</li>
      <li> Maneuverability</li>
      <li> Special Parts & Engineering behind this super extraordinary performance</li>
    </ul>
    <span class="d1-lead" style="text-decoration:none">Vehicle Dynamics</span><br>
    <ul class="d1">
      <li> Forces faced by vehicle while acceleration, retardation and cornering</li>
      <li> Effect of these forces on traction of vehicle</li>
      <li> Design preferences according to these concepts</li>
      <li> Special cases</li>
    </ul>
    <span class="d1-lead d2-lead" style="text-decoration:none">Pit Stops</span>
    <ul class="d1">
      <li> Importance of pit stop</li>
      <li> Pit Stop Team & Individual Task</li>
      <li> Pit Stop Regulations</li>
    </ul>
    <span class="d1-lead" style="text-decoration:none">Forces on Driver</span><br>
    <ul class="d1">
      <li>Forces a Driver/Rider has to bear at the time of Acceleration, Retardation & Cornering</li>
      <li>How to develop that strength</li>
      <li>How to perform better</li>
    </ul>
    <span class="d1-lead d2-lead" style="text-decoration:none">Modification Science</span>
    <ul class="d1">
      <li>How to enhance the capabilities of your general vehicles</li>
    </ul>
  </div>
</div>
</div>

<div class="row below">
  <div class="col-md-6 col-sm-12">
    <span class="d1-lead">Query Session</span><br>
    <ul class="d1">
      <li>After completing workshop there will be a query session which will help students to clear all
      their doubts.</li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-12">
    <span class="d1-lead d2-lead">Certificate Distribution</span>
    <ul class="d1">
      <li>Every participants will get Certificate of Participation.</li>
    </ul>
  </div>
</div>

</div>
</div>


<!--fourth end -->
<!-- third -->
<div id="contact" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Contact Us</h2><hr style="width: 50%;" /><br>

    <div class="col-sm-12 col-md-6 text-center">
    <div class="card first-card" style="width: 20rem;margin:auto;">
          <figure class="effect-bubba">
            <img class="card-img-top image" style="border-radius:50%;" src="assets/img/team/suprabath.JPG">
          </figure>
          <div class="card-block"><br>
            <p class="card-title">Suprabath Reddy</p>
            <p class="card-content" >Technical Events Core</p>
            <p class="card-content">+91-9010501499</p>
            <p class="card-content">suprabath@elan.org.in</p>
            <div class="socialbtns">
              <li><a href="https://www.facebook.com/suprabathreddy9" class="fa fa-lg fa-facebook"></a></li>
            </div>
          </div>
        </div>
      </div>

  <div class="col-sm-12 col-md-6 text-center">
    <div class="card second-card" style="width: 20rem;margin: auto">
        <figure class="effect-bubba">
          <img class="card-img-top image" style="border-radius:50%;" src="assets/img/team/aravind.JPG">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Aravind Ganesh</p>
          <p class="card-content" >Workshops Coordinator</p>
          <p class="card-content">+91-9490329561</p>
          <p class="card-content">aravind@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/aravindganesh.28" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
</div>
</div>
</div>
<!-- second section - About -->
<div id="hospitality" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
<h1 class="mhead">Auto-Mechanics & Motor Sport Engineering<hr></h1>
<h2 class="heading">Hospitality</h2><hr style="width: 50%;" /><br>
<p class="lead">Auto-Mechanics & Motor Sport Engineering workshop is being organized in the permanent campus of IIT Hyderabad (Kandi campus). Limited accommodation is available during workshop.
<br><br>
Please mail at  <a href="mailto:irfan@elan.org.in">irfan@elan.org.in</a> in advance and specify the duration of your stay (mention dates also) at IIT Hyderabad. Kindly mention your contact number in the mail. You will get a confirmation mail once your accommodation is confirmed. Kindly bring the e-copy/printout of the confirmation mail while coming for workshop. Accommodation charges – Rs 300  per person per day. Food coupons will be provided to you at the accommodation desk. Accommodation will be provided solely on sharing basis. <br><br></p>
  <div class="row">
    <div class="col-md-12 text-center col-sm-12">
      <ul style="color:white;font-size: 1.5em;list-style-type: none">
      <li style="text-align: center;"><a target="_blank" href="assets/docs/Hospitality_details.pdf">&nbsp;Accomodation Details</a></li><br>
      <li style="text-align: center;"><a target="_blank" href="assets/docs/Transport_details.pdf">&nbsp;Transportaion Details</a></li>
  </ul>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- /second section -->
<div class="footer"><a target="_blank" href="https://twitter.com/elan_iith"><img class="footerimg" src="./assets/img/footer/twitter.png"></a><a target="_blank" href="https://www.facebook.com/elan.iithyderabad/"><img class="footerimg" src="./assets/img/footer/fb.png"></a><a target="_blank" href="https://www.instagram.com/elan_and_nvision/"><img class="footerimg" src="./assets/img/footer/insta.png"></a>
    <a target="_blank" href="https://www.youtube.com/user/ElanIITHyderabad"><img class="footerimg" src="./assets/img/footer/yt.png"></a></div>

</body>
  <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./assets/js/navbar.js"></script>
  <script type="text/javascript" src="./assets/js/scroll.min.js"></script>

  <script>
      $.extend($.scrollTo.defaults,{
          axis:'y',duration:600
      });
    $('#arrow-div').on('click', '.fa.fa-chevron-down', function () {
        console.log("dd");
      $(window).scrollTo($("#about"));
      $(window).scrollTo("-=20px");
    });
    $('#about-btn').on('click',function () {
      $(window).scrollTo($("#about"));
      $(window).scrollTo("-=20px");
    });
    $('#register-btn').on('click',function () {
      $(window).scrollTo($("#register"));
      $(window).scrollTo("-=100px");
    });
    $('#highlights-btn').on('click',function () {
      $(window).scrollTo($("#highlights"));
      $(window).scrollTo("-=45px");
    });
    $('#outline-btn').on('click',function () {
      $(window).scrollTo($("#outline"));
      $(window).scrollTo("-=45px");
    });
    $('#contact-btn').on('click',function () {
      $(window).scrollTo($("#contact"));
      $(window).scrollTo("-=45px");
    });
    $('#hospitality-btn').on('click',function () {
      $(window).scrollTo($("#hospitality"));
      $(window).scrollTo("-=45px");
    });

    $(function(){
        var navMain = $(".navbar-collapse"); // avoid dependency on #id
        // "a:not([data-toggle])" - to avoid issues caused
        // when you have dropdown inside navbar
        navMain.on("click", "a:not([data-toggle])", null, function () {
        navMain.collapse('hide');
    });
 });
  </script>

</html>
