<!DOCTYPE html>
<html lang="en">
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>Campus Ambassador | ELAN & &eta;vision 2018</title>
      <link rel="icon" href="favicon.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ηvision is the techno-management fest of IIT Hyderabad.">
    <meta name="copyright" content="ELAN & ηvision 2018">
    <meta name="author" content="ELAN & ηvision 2018">
    <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,awesome,workshops,kludge,infero,cephid,ecell,robotics,equilibria,torque,electronica">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#283389">
    <meta property="og:site_name" content="ELAN & ηvision 2018">
    <meta property="og:title" content="ELAN & ηvision 2018">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png' %}"> -->
    <!-- <meta property="og:url" content="https://nvision.org.in/sponsors/"> -->
    {% load static %}
    <meta property="og:description" content="ELAN & ηvision 2018: Techno-cultural Fest of IIT Hyderabad">
  <link rel="stylesheet" type="text/css" href="{% static 'css/beta/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/beta/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/beta/iot.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/beta/font-awesome.min.css">
  </head>
  <style>
    iframe {
      width: 476px;
      height: 476px;
    }
    @media (max-width:767px) {
      iframe {
        width: 250px;
        height: 250px;
      }
    }
    a.btn:hover{
      color:#FFF;
    }

  </style>
  <body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <!-- Navbar -->
    <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
      <div class="container" style="width:90%!important;max-width:1920px;margin:auto;padding:0;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-logo" href="/">
                <div class="logo nav-logo"><img src="{% static 'img/beta/logo-big.png' %}" style="max-width: 100%;"/></div>
              </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
                    <li id="about-btn">
                        <a class="btn-2">
                            <p>About</p>
                        </a>
                    </li>
                    <!-- <li id="register-btn">
                        <a class="btn-2">
                            <p>Register</p>
                        </a>
                    </li> -->
                    <li id="highlights-btn">
                        <a class="btn-2">
                            <p>Perks</p>
                        </a>
                    </li>
                    <li id="outline-btn">
                        <a class="btn-2">
                            <p>Work</p>
                        </a>
                    </li>
                    <li id="learning-btn">
                        <a class="btn-2">
                            <p>Learning Experience</p>
                        </a>
                    </li>
                    <li id="contact-btn">
                        <a class="btn-2">
                            <p>Contact</p>
                        </a>
                    </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<!--  end navbar -->
<!-- first section - Home -->
<!-- <div id="home" class="home"></div> -->
      <div class="text-center" id="arrow-div" style=" font-size:3em;"><i id="arrow" class="fa fa-chevron-down"  aria-hidden="true"></i></div>
<!-- /first section -->
<!-- second section - About -->
<div id="about" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
<h1 class="mheaad">Campus Ambassador Programme<hr></h1>
<!-- <h2 class="heading">About</h2><hr style="width: 50%;" /><br> -->
<p class="lead">
<div class="video" style="width: 10-0%!important;margin: auto;">
<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Felan.iithyderabad%2Fvideos%2F1418303468224000%2F&show_text=0" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div>
<a href="https://www.facebook.com/elan.iithyderabad/videos/1418303468224000/"><p>Campus Ambassador Programme 2018</p></a><p>Grab the opportunity to be a Campus Ambassador of ELAN &amp; &eta;vision, IIT Hyderabad 2018 and get a chance to represent us in your college. Here&#039;s your opportunity to be a part of the team that helps make Elan &amp; &eta;vision a huge success.

Perks include:
VIP passes, merchandise and internships for the top performers. All CA&#039;s get a certificate of excellence from Elan &amp; &eta;vision, IIT Hyderabad.


</div>

</div>
</div>
</div>

<!-- /second section -->
<!-- third -->
<div id="highlights" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Perks</h2><hr style="width: 50%;" /><br>
<ul class="hl">
    <li>Discounts on particular online courses.</li>
<li>20 guaranteed Internships for phenomenal performers.</li>
<li>ELAN & NVISION Merchandise to be given away.</li>

<li>Free accommodation on campus for top performing CAs.</li>
<li>Exciting goodies in store for those noteworthy CAs.</li>
<li>Highly anticipated VIP passes to be seized.</li>

    <li>Food coupons of popular outlets throughout the city and also discount coupons on food during the fest.</li>
<li>The envied Campus Ambassador Certificate, corroborating their work for ELAN & NVISION, IITH.</li>
 </ul>
</div>
</div>
</div>
</div>


<!-- third end -->
<!--fourth -->
<div id="outline" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Work</h2><hr style="width: 50%;" /><br>
    <ul class="hl">
        <li>Must give information of the Facebook pages or groups of their respective colleges.</li>
        <li>Must submit the e-mail IDs of their respective student councils or sci-tech Clubs.</li>
        <li>Must add certain specified members of ELAN & NVISION into their groups.</li>

        <li>Must publicise about ELAN & NVISION in their campus at regular intervals. </li>
        <li>Must update the Online Publicity co-ordinators about their work every week. </li>
        <li>If it’s a group it must contain all the college students of that college , if it’s a page , it must have been liked by all the students.</li>
        <li>Must give the contact information of batchmates, toppers and active club members for ELAN & NVISION  events.</li>
        <li>Must put posters and distribute pamphlets in their college , provided by the ELAN & NVISION Campus Publicity(CP) team.</li>
        <li>Must provide information about your college fests and holidays, etc  regularly to the CP co-ordinator of ELAN & NVISION</li>
        <li>Finally and most importantly, encourage your college students to attend our workshops and fest.</li>
</ul>
</div>
</div>
</div>
</div>

<div id="learning" class="pad-section" style="background-color: #306D9F;!important">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Learning Experience</h2><hr style="width: 50%;" /><br>
<ul class="hl">
    <li>Get contacts, build relations which will ultimately lead to creation of a large network around you.</li>
    <li>Management skills are the real world skill required at this time of the era, and here, you will get an abundance of it.</li>
    <li>First hand view of how our fest, arguably one of the biggest techno-cultural fiesta you will ever come across, works and get an idea of how such big techno-cultural fest is managed.</li>



 </ul>
</div>
</div>
</div>
</div>





<!--fourth end -->
<!-- third -->
<div id="contact" class="pad-section" style="background-color:black">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Contact Us</h2><hr style="width: 50%;" /><br>
    <div class="col-sm-4 col-md-4">
    <div class="card -card" style="width: 20rem;margin: auto;">
          <figure class="effect-bubba">
            <img class="card-img-top image" style="border-radius:50%;" src="{% static 'img/beta/team/shashank.JPG' %}">
          </figure>
          <div class="card-block"><br>
            <p class="card-title">Shashank Varanasi</p>
            <p class="card-content" >Publicity Coordinator</p>
            <p class="card-content">+91-8179303345</p>
            <p class="card-content">shashank.v@elan.org.in</p>
            <div class="socialbtns">
              <li><a href="https://www.facebook.com/sasi8998vv" class="fa fa-lg fa-facebook"></a></li>
            </div>
          </div>
        </div>
      </div>

  <div class="col-sm-4 col-md-4 ">
    <div class="card -card" style="width: 20rem;margin: auto;">
        <figure class="effect-bubba">
          <img class="card-img-top image" style="border-radius:50%;" src="{% static 'img/beta/team/gitanjali.JPG' %}">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Gitanjali Mannepalli</p>
          <p class="card-content" >Publicity Coordinator</p>
          <p class="card-content">+91-9705512183</p>
          <p class="card-content">gitanjali@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://m.facebook.com/gmannepalli?ref=bookmarks" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>
  </div>
  <div class="col-sm-4 ">
    <div class="card -card" style="width: 20rem;margin: auto;">
        <figure class="effect-bubba">
          <img class="card-img-top image" style="border-radius:50%;" src="{% static 'img/beta/team/akshita.JPG' %}">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Akshita Ramya</p>
          <p class="card-content" >Publicity Coordinator</p>
          <p class="card-content">+91-7337537660</p>
          <p class="card-content">akshita.r@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/akhira.1998" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
</div>
</div>

<!-- second section - About -->

<!-- /second section -->
<div class="footer" ><a target="_blank" href="https://twitter.com/elan_iith"><img class="footerimg" src="{% static 'img/beta/footer/twitter.png' %}"></a><a target="_blank" href="https://www.facebook.com/elan.iithyderabad/"><img class="footerimg" src="{% static 'img/beta/footer/fb.png' %}"></a><a target="_blank" href="https://www.instagram.com/elan_and_nvision/"><img class="footerimg" src="{% static 'img/beta/footer/insta.png' %}"></a>
    <a target="_blank" href="https://www.youtube.com/user/ElanIITHyderabad">
      <img class="footerimg" src="{% static 'img/beta/footer/yt.png' %}"></a></div>

</body>
  <script type="text/javascript" src="{% static 'js/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/navbar.js"></script>
  <script type="text/javascript" src="{% static 'js/scroll.min.js"></script>

  <script>
      $.extend($.scrollTo.defaults,{
          axis:'y',duration:600
      });
    $('#arrow-div').on('click', '.fa.fa-chevron-down', function () {
        console.log("dd");
      $(window).scrollTo($("#about"));
      $(window).scrollTo("-=20px");
    });
    $('#about-btn').on('click',function () {
      $(window).scrollTo($("#about"));
      $(window).scrollTo("-=20px");
    });
    $('#register-btn').on('click',function () {
      $(window).scrollTo($("#register"));
      $(window).scrollTo("-=100px");

    });
    $('#highlights-btn').on('click',function () {
      $(window).scrollTo($("#highlights"));
      $(window).scrollTo("-=45px");
    });
    $('#outline-btn').on('click',function () {
      $(window).scrollTo($("#outline"));
      $(window).scrollTo("-=45px");
    });
    $('#contact-btn').on('click',function () {
      $(window).scrollTo($("#contact"));
      $(window).scrollTo("-=45px");
    });
    $('#learning-btn').on('click',function () {
      $(window).scrollTo($("#learning"));
      $(window).scrollTo("-=45px");
    });
    $('#hospitality-btn').on('click',function () {
      $(window).scrollTo($("#hospitality"));
      $(window).scrollTo("-=45px");
    });

    $(function(){
        var navMain = $(".navbar-collapse"); // avoid dependency on #id
        // "a:not([data-toggle])" - to avoid issues caused
        // when you have dropdown inside navbar
        navMain.on("click", "a:not([data-toggle])", null, function () {
        navMain.collapse('hide');
    });
 });
  </script>

</html>
