<!DOCTYPE html>
<html lang="en">
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>Ethical Hacking Workshop | ELAN & &eta;vision 2018</title>
      <link rel="icon" href="favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ηvision is the techno-management fest of IIT Hyderabad.">
    <meta name="copyright" content="ELAN & ηvision 2018">
    <meta name="author" content="ELAN & ηvision 2018">
    <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,awesome,workshops,kludge,infero,cephid,ecell,robotics,equilibria,torque,electronica">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#283389">
    <meta property="og:site_name" content="ELAN & ηvision 2018">
    <meta property="og:title" content="ELAN & ηvision 2018">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png"> -->
    <!-- <meta property="og:url" content="https://nvision.org.in/sponsors/"> -->
    <meta property="og:description" content="ELAN & ηvision 2018: Techno-cultural Fest of IIT Hyderabad">
  <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/ethical.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
      <div class="container" style="width:90%!important;max-width:1920px;margin:auto;padding:0;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-logo" href="index.html">
                <div class="logo nav-logo"><img src="./assets/img/logo-big.png" style="max-width: 100%;"/></div>
              </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" style="cursor:pointer;">
                    <li id="about-btn">
                        <a class="btn-2">
                            <p>About</p>
                        </a>
                    </li>
                    <li id="registerbtn">
                        <a class="btn-2">
                            <p>Register</p>
                        </a>
                    </li>
                    <li id="highlights-btn">
                        <a class="btn-2">
                            <p>Highlights</p>
                        </a>
                    </li>
                    <li id="outline-btn">
                        <a class="btn-2">
                            <p>Outline</p>
                        </a>
                    </li>
                    <li id="contact-btn">
                        <a class="btn-2">
                            <p>Contact</p>
                        </a>
                    </li>

                    <li id="hospitality-btn">
                        <a class="btn-2">
                            <p>Hospitality</p>
                        </a>
                    </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<!--  end navbar -->
<!-- first section - Home -->
<div id="home" class="home"></div>
      <div  class="text-center" style="margin-top:-2em;font-size:3em;"><i id="arrow" class="fa fa-chevron-down"  aria-hidden="true"></i></div>
<!-- /first section -->
<!-- second section - About -->
<div id="about" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
<h1 class="mhead">Ethical Hacking Workshop<hr></h1>
<h2 class="heading">About</h2><hr style="width: 50%;" /><br>
<p class="lead">About
Hacking is a widely revered and celebrated skill and is often fantasised. Ethical hacking is an important tool in today's world and many national security agencies and the multinational companies all around the globe make extensive use of it. An ethical hacker is usually employed with the organization and can be trusted to undertake an attempt to penetrate networks and/or computer systems using the same methods as a Hacker. The goal of hiring an ethical hacker is to help the organization take pre-emptive measures against malicious attacks by outside miscreants through attacking their own system by themselves; all the while staying within legal limits. <br><br>
This workshop conducted by Elan & ηvision, IIT Hyderabad in association with Azure Skynet presents  is specifically designed to provide the right knowledge to the aspiring Cyber Forensics & Ethical Hacking enthusiasts. This workshop will explore the various means that an intruder has available to gain access to computer resources. It will investigate weaknesses of cyber security systems by discussing the theoretical background behind it, and whenever possible, actually performing the attacks.<br><br><br>
<div id="register" class="lead">
Venue : IIT Hyderabad <br>
Date : 26th and 27th August <br>
Timing : 10:00 AM to 6:00 PM <br>
Fee per person - ₹ 1000/- <br></div>
</p>

		  <!-- <div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-3"><a href="https://www.townscript.com/e/ethical-hacking-and-cyber-security-124001" target="_blank" class="btn btn-sm animated-button thar-three">Pay Now</a></div>
      <div class="col-md-3 col-sm-3 col-xs-6 "><a href="https://goo.gl/forms/Sy58xWGZykvDVnHk2" target="_blank" class="btn btn-sm animated-button thar-three">Register</a></div> -->  
      <div class="col-md-12 col-sm-12 col-xs-12" style="font-size:2.3em;">Registrations Closed !!</div>

</div>
</div>
</div>
</div>
</div>
<!-- /second section -->
<!-- third -->
<div id="highlights" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Highlights</h2><hr style="width: 50%;" /><br>
<ul class="hl">
  <li>Hacking strategies and methods</li>
  <li>Google hacking, Web hacking and countermeasures</li>
  <li>Social networking sites protection</li>
  <li>Get trained by professionals</li>
  <li>Certificate from Elan & ηvision, IIT Hyderabad</li>
  <li>Hacking tools software to each student</li>
  <li>Live Demos and Interactive Question & Answer sessions</li>
</ul>
</div>
</div>
</div>
</div>
<!-- third end -->
<!--fourth -->
<div id="outline" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Outline</h2><hr style="width: 50%;" /><br>
<div class="row">
	<div class="col-md-6 col-sm-12">
		<span class="d1-lead">Day 1- Session 1:</span><br>
<ul class="d1">
  <li>Introduction to Ethical Hacking</li>
  <li>Information Gathering</li>
  <li>Attacks</li>
  <li>Networking and Basics</li>
  <li>Scanning</li>
  <li>Computer Forensics- an Introduction</li>
</ul>
	</div>
	<div class="col-md-6 col-sm-12">
		<span class="d1-lead">Day 1- Session 2:</span><br>
<ul class="d1">
  <li>Windows Hacking- XP,Vista,7,8</li>
  <li>own Viruses</li>
  <li>Road sign Hacking and Identity Theft</li>
  <li>Well engineering</li>
  <li>Google Hacking & Countermeasures</li>
  <li>Stenography</li>
</ul>
	</div>
</div>
<div class="row below">
	<div class="col-md-6 col-sm-12">
		<span class="d1-lead">Day 2- Session 1:</span><br>
<ul class="d1">
  <li>Social Engineering, Windows Backdoor</li>
  <li>Cryptography</li>
  <li>Web Hacking and countermeasures</li>
  <li>Firewalls-an Introduction</li>
  <li>Facebook messenger Hacking</li>
  <li>Password cracking</li>
  <li>Investigating Cyber Crime cases</li>
  <li>E-Mail Hacking</li>
  <li>LAN Hacking</li>
  <li>SMS-Forging</li>
  <li>Call Forging</li>
  <li>Backtrack OS</li>
  <li>Sniffing</li>
  <li>Linux Hacking & Countermeasures</li>
</ul>
	</div>
	<div class="col-md-6 col-sm-12">
		<span class="d1-lead">Day 2- Session 2:</span><br>
<ul class="d1">
  <li>D-Dos Attack</li>
  <li>Trojans</li>
  <li>DNS-Poisoning</li>
  <li>Social Networking Sites Protection</li>
  <li>Wi-Fi Hacking</li>
  <li>SQL Injection</li>
  <li>Backdoor Connections</li>
  <li>Exploit Metasploit</li>
  <li>Framework (Penetration Testing)</li>
</ul>
	</div>
</div>

</div>
</div>
</div>
</div>
<!--fourth end -->
<!-- third -->
<div id="contact" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Contact Us</h2><hr style="width: 50%;" /><br>
  <div class="row row-c">
    <div class="col-sm-12 col-md-6 ">
    <div class="card first-card" style="width: 20rem;">
          <figure class="effect-bubba">
            <img class="card-img-top image" style="border-radius:50%;" src="assets/img/team/suprabath.JPG">
          </figure>
          <div class="card-block"><br>
            <p class="card-title">Suprabath Reddy</p>
            <p class="card-content" >Technical Events Core</p>
            <p class="card-content">+91-9010501499</p>
            <p class="card-content">suprabath@elan.org.in</p>
            <div class="socialbtns">
              <li><a href="https://www.facebook.com/suprabathreddy9" class="fa fa-lg fa-facebook"></a></li>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-6 ">
    <div class="card second-card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" style="border-radius:50%;" src="assets/img/team/aravind.JPG">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Aravind Ganesh</p>
          <p class="card-content" >Workshops Coordinator</p>
          <p class="card-content">+91-9490329561</p>
          <p class="card-content">aravind@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/aravindganesh.28" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
</div>
</div>
</div>
<!-- third end -->
<!-- HOSPITALITY -->
<!-- <div id="hospitality" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Hospitality</h2><hr style="width: 50%;" /><br>
  <div class="col-xs-12"><p class="text-center"></p></div>
</div>
</div>
</div>
</div> -->
<!-- second section - About -->
<div id="hospitality" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
<h1 class="mhead">Ethical Hacking Workshop<hr></h1>
<h2 class="heading">Hospitality</h2><hr style="width: 50%;" /><br>
<p class="lead">Ethical hacking workshop is being organized in the permanent campus of IIT Hyderabad (Kandi campus). Limited accommodation is available during workshop.
<br><br>
Please mail at  <a href="mailto:irfan@elan.org.in">irfan@elan.org.in</a> in advance and specify the duration of your stay (mention dates also) at IIT Hyderabad. Kindly mention your contact number in the mail. You will get a confirmation mail once your accommodation is confirmed. Kindly bring the e-copy/printout of the confirmation mail while coming for workshop. Accommodation charges – Rs 300  per person per day. Food coupons will be provided to you at the accommodation desk. Accommodation will be provided solely on sharing basis. <br><br></p>
  <dic class="row">
    <div class="col-md-6 col-sm-12">
      <ul style="color:white;font-size: 1.5em;">
      <li style="text-align: left;"><a target="_blank" href="assets/docs/Workshop_hospitality.pdf">&nbsp;Rules of Accomodation</a></li><br>
      <li style="text-align: left;"><a target="_blank" href="assets/docs/Workshop_Transport_Details.pdf">&nbsp;Transportaion Details</a></li>
  </ul>
    </div>
  </dic>
</div>
</div>
</div>
</div>
<!-- /second section -->

<div class="footer"><a target="_blank" href="https://twitter.com/elan_iith"><img class="footerimg" src="./assets/img/footer/twitter.png"></a><a target="_blank" href="https://www.facebook.com/elan.iithyderabad/"><img class="footerimg" src="./assets/img/footer/fb.png"></a><a target="_blank" href="https://www.instagram.com/elan_and_nvision/"><img class="footerimg" src="./assets/img/footer/insta.png"></a>
    <a target="_blank" href="https://www.youtube.com/user/ElanIITHyderabad"><img class="footerimg" src="./assets/img/footer/yt.png"></a></div>  


</body>
  <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./assets/js/navbar.js"></script>
  <script type="text/javascript" src="./assets/js/scroll.min.js"></script>
  <!-- <script type="text/javascript" src="./assets/js/scrollreveal.min.js"></script> -->

  <script>
      $.extend($.scrollTo.defaults,{
          axis:'y',duration:800
      });
   
  	$('#about-btn').on('click',function () {
  		$(window).scrollTo($("#about"));
  		$(window).scrollTo("-=20px");
  	});
  	$('#register-btn').on('click',function () {
  		$(window).scrollTo($("#register"));
  		$(window).scrollTo("-=100px");
  	});
  	$('#highlights-btn').on('click',function () {
  		$(window).scrollTo($("#highlights"));
  		$(window).scrollTo("-=45px");
  	});
  	$('#outline-btn').on('click',function () {
  		$(window).scrollTo($("#outline"));
  		$(window).scrollTo("-=45px");
  	});
  	$('#contact-btn').on('click',function () {
  		$(window).scrollTo($("#contact"));
  		$(window).scrollTo("-=45px");
  	});
  	$('#hospitality-btn').on('click',function () {
  		$(window).scrollTo($("#hospitality"));
  		$(window).scrollTo("-=45px");
  	});     
      
            
    $(function(){
        var navMain = $(".navbar-collapse"); // avoid dependency on #id
        // "a:not([data-toggle])" - to avoid issues caused
        // when you have dropdown inside navbar
        navMain.on("click", "a:not([data-toggle])", null, function () {
        navMain.collapse('hide');
    });
 });
  </script>
</html>

