<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="favicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/betaapple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/betafavicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>ELAN & &eta;vision 2017 | IIT Hyderabad</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="{% static 'css/beta/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/beta/team.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/beta/navbar.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="0">
  <!-- Navbar -->
    <nav class="navbar navbar-ct-blue navbar-transparent" role="navigation" style="text-align:center">
      <div class="container" style="width:90%!important;max-width:3000px;margin:0;padding:0;margin:auto!important">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-logo" href="/">
                <div class="logo nav-logo"><img src="{% static 'img/beta/logo-big.png' %}" style="max-width: 100%;"/></div>
              </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="btn-2" href="about">
                            <p>About</p>
                        </a>
                    </li>
                    <li>
                        <a class="btn-2" href="sponsors">
                            <p>Previous Sponsors</p>
                        </a>
                    </li>
                    <li>
                        <a class="btn-2" href="workshops">
                            <p>Workshops</p>
                        </a>
                    </li>
                    <li>
                        <a class="btn-2" href="events">
                            <p>Events</p>
                        </a>
                    </li>

                    <li>
                        <a class="btn-2 active" href="team">
                            <p>Team</p>
                        </a>
                    </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<!--  end navbar -->
    <!-- team -->
    <h1 class="text-center">Team</h1>
    <hr>
    <div id="team" class="">
      <!-- F and H -->
      <div class="container">
        <!-- Chirayu -->
        <div class="card" style="width: 20rem;">
          <figure class="effect-bubba">
            <img class="card-img-top image" src="{% static 'img/beta/team/chirayu.jpg' %}" alt="Card image cap">
          </figure>
          <div class="card-block"><br>
            <p class="card-title">Chirayu Kothari</p>
            <p class="card-content" >Finance and Hospi Core</p>
            <p class="card-content">+91-9642621323</p>
            <p class="card-content">chirayu@elan.org.in</p>
            <div class="socialbtns">
              <li><a href="https://www.facebook.com/chirayu.kothari.1" class="fa fa-lg fa-facebook"></a></li>
            </div>
          </div>
        </div>
      </div>

      <!--Surya-->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/surya.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Surya Pramod</p>
          <p class="card-content" >Finance Coordinator</p>
          <p class="card-content">+91-7382544738</p>
          <p class="card-content">surya@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/surya.pramod.1" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Irfan-->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/irfan.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Irfan Ali</p>
          <p class="card-content" >Hospitality Coordinator</p>
          <p class="card-content">+91-9581211310</p>
          <p class="card-content">irfan@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/profile.php?id=100001159076153" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Akshay-->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/akshay.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Akshay Raghavan</p>
          <p class="card-content" >Hospitality Coordinator</p>
          <p class="card-content">+91-9677280037</p>
          <p class="card-content">akshay@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="#" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Shruti-->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/shruthi.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Shruti Agarawal</p>
          <p class="card-content" >Hospitality Coordinator</p>
          <p class="card-content">+91-8103365988</p>
          <p class="card-content">shruti.a@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/profile.php?id=100012909185593" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!-- Harshita -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/harshita.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Harshita Chitla</p>
          <p class="card-content" >Hospitality Coordinator</p>
          <p class="card-content">+91-7093841101</p>
          <p class="card-content">harshita@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://facebook.com/harshitha.chitla" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!-- Tra,OP and Sec -->
      <hr class="divide">
      <div class="container">

        <!-- Siva -->
        <div class="card" style="width: 20rem;">
          <figure class="effect-bubba">
            <img class="card-img-top image" src="{% static 'img/beta/team/siva.JPG' %}" alt="Card image cap">
          </figure>
          <div class="card-block"><br>
            <p class="card-title">Siva Satvik</p>
            <p class="card-content" >Op, Transport, Secy core</p>
            <p class="card-content">+91-8897799633</p>
            <p class="card-content">satvik@elan.org.in</p>
            <div class="socialbtns">
              <li><a href="#" class="fa fa-lg fa-facebook"></a></li>
            </div>
          </div>
        </div>
      </div>


      <!--prabath-->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/prabath.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Prabath Goutham</p>
          <p class="card-content" >Transport Coordinator</p>
          <p class="card-content">+91-9491618373</p>
          <p class="card-content">goutham.p@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/prabathgoutham.reddy" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Gitanjali-->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/gitanjali.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Gitanjali Mannepalli</p>
          <p class="card-content" >OP Coordinator</p>
          <p class="card-content">+91-9705512183</p>
          <p class="card-content">gitanjali@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://facebook.com/gmannepalli?ref=bookmarks" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Shashank-->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/shashank.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Shashank Varanasi</p>
          <p class="card-content" >OP Coordinator</p>
          <p class="card-content">+91-8179303345</p>
          <p class="card-content">shashank.v@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/sasi8998vv" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Akshita-->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/akshita.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Akshita Ramya</p>
          <p class="card-content" >OP Coordinator</p>
          <p class="card-content">+91-7337537660</p>
          <p class="card-content">akshita.r@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/akhira.1998" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Vishwajith-->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/vishwa.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Vishwajith Rathod</p>
          <p class="card-content" >Security Coordinator</p>
          <p class="card-content">+91-8500526821</p>
          <p class="card-content">vishwajith@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="#" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Anvesh-->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/anvesh.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Anvesh Bendalam</p>
          <p class="card-content" >Campus Publicity <br>Coordinator</p>
          <p class="card-content">+91-9676564751</p>
          <p class="card-content">anvesh@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/profile.php?id=100013952401046" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Charan-->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/charan.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Sri Charan</p>
          <p class="card-content" >Campus Publicity <br>Coordinator</p>
          <p class="card-content">+91-9492362188</p>
          <p class="card-content">charan@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/profile.php?id=100009026844119" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Uma-->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/uma.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Uma Reddy</p>
          <p class="card-content" >Campus Publicity <br>Coordinator</p>
          <p class="card-content">+91-7995802199</p>
          <p class="card-content">uma@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/profile.php?id=100005510806323" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!-- Techie,CP and work -->
      <hr class="divide">
      <div class="container">
        <!-- Siva -->
        <div class="card" style="width: 20rem;">
          <figure class="effect-bubba">
            <img class="card-img-top image" src="{% static 'img/beta/team/suprabath.JPG' %}" alt="Card image cap">
          </figure>
          <div class="card-block"><br>
            <p class="card-title">Suprabath Reddy</p>
            <p class="card-content" >Technical Events Core</p>
            <p class="card-content">+91-9010501499</p>
            <p class="card-content">suprabath@elan.org.in</p>
            <div class="socialbtns">
              <li><a href="https://www.facebook.com/suprabathreddy9" class="fa fa-lg fa-facebook"></a></li>
            </div>
          </div>
        </div>
      </div>


      <!--Aravind-->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/aravind.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Aravind Ganesh</p>
          <p class="card-content" >Workshops & Hackathons<br> Coordinator</p>
          <p class="card-content">+91-9490329561</p>
          <p class="card-content">aravind@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/aravindganesh.28" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>



      <!--Shivarag-->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/shivrag.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Shivarag Reddy</p>
          <p class="card-content" >Techy Coordinator</p>
          <p class="card-content">+91-8885011011</p>
          <p class="card-content">shivarag@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/profile.php?id=100009805123045" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Bharadwaj-->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/bharadwaj.jpg' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Siripuram Sai Bharadwaj</p>
          <p class="card-content" >Techy Coordinator</p>
          <p class="card-content">+91-7995270890</p>
          <p class="card-content">bharadwaj@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/siripuram.bharadwaj" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!-- Biggies,Infi -->
      <hr class="divide">
      <div class="container">
        <!-- Nanda -->
        <div class="card" style="width: 20rem;">
          <figure class="effect-bubba">
            <img class="card-img-top image" src="{% static 'img/beta/team/nanda.JPG' %}" alt="Card image cap">
          </figure>
          <div class="card-block"><br>
            <p class="card-title">Nanda Kumar</p>
            <p class="card-content" >Cultural events core</p>
            <p class="card-content">+91-9573950314</p>
            <p class="card-content">nanda@elan.org.in</p>
            <div class="socialbtns">
              <li><a href="https://facebook.com/nandu007d?ref=bookmarks" class="fa fa-lg fa-facebook"></a></li>
            </div>
          </div>
        </div>
      </div>


      <!--Kabir -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/kabir.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Kabir Sharda</p>
          <p class="card-content" >Biggies and EML</p>
          <p class="card-content">+91-9867327421</p>
          <p class="card-content">kabir@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="#" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

	  <!--Laxmi ganna  -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/laxmiganna.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Laxmi Ganna</p>
          <p class="card-content" >Culti cord</p>
          <p class="card-content">+91-8790523845</p>
          <p class="card-content">laxmi.g@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/sri.laxmi.1654" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>


      <!--Pramudit -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/pramudith.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Pramudit Tripathi</p>
          <p class="card-content" >Social Cause Coordinator</p>
          <p class="card-content">+91-9044535443</p>
          <p class="card-content">pramudit@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://facebook.com/pramudit99" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Tejas -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/tejas.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Tejas Ananda</p>
          <p class="card-content" >Infi Coordinator</p>
          <p class="card-content">+91-9618535148</p>
          <p class="card-content">tejas@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/tejas.ananda" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Jeel -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/jeel.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Jeel Bhavasar</p>
          <p class="card-content" >Litr Coordinator</p>
          <p class="card-content">+91-9100283774</p>
          <p class="card-content">jeel@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/jeel.bhavsar.50" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--creatives-->
      <hr class="divide">
      <div class="container">
        <!-- Shivom -->
        <div class="card" style="width: 20rem;">
          <figure class="effect-bubba">
            <img class="card-img-top image" src="{% static 'img/beta/team/shivom.JPG' %}" alt="Card image cap">
          </figure>
          <div class="card-block"><br>
            <p class="card-title">Shivom Taank</p>
            <p class="card-content" >Creatives core</p>
            <p class="card-content">+91-9177296448</p>
            <p class="card-content">shivom@elan.org.in</p>
            <div class="socialbtns">
              <li><a href="https://facebook.com/profile.php?ref=bookmarks" class="fa fa-lg fa-facebook"></a></li>
            </div>
          </div>
        </div>
      </div>


      <!--Madhur -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/madhur.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Madhur Gupta</p>
          <p class="card-content" >Multimedia Coordinator</p>
          <p class="card-content">+91-9452730775</p>
          <p class="card-content">madhur@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/madhur.gupta.9887" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--	Adhrsh -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/adharsh.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Adarsh Mathai</p>
          <p class="card-content" >Creatives Coordinator</p>
          <p class="card-content">+91-8281314927</p>
          <p class="card-content">adarsh@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Arjun -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/arjun.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Arjun Manoj</p>
          <p class="card-content" >Creatives Coordinator</p>
          <p class="card-content">+91-9515814799</p>
          <p class="card-content">arjun@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/arjun.manoj.35" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Sudhanshu -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/sudhanshu.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Sudhanshu Chawhan</p>
          <p class="card-content" >Creatives Coordinator</p>
          <p class="card-content">+91-9100282804</p>
          <p class="card-content">sudhanshu@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/sudhanshu.chawhan" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Eldho -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/eldo.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Eldho Shajan</p>
          <p class="card-content" >Creatives Coordinator</p>
          <p class="card-content">+91-9400259275</p>
          <p class="card-content">eldho@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/eldho.shajan" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Ninad -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/ninad.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Ninad Akolekar</p>
          <p class="card-content" >Web Coordinator</p>
          <p class="card-content">+91-9515813283</p>
          <p class="card-content">web@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/ninad.akolekar" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Kiran -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/kiran.jpg' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Ravi Kiran</p>
          <p class="card-content" >Web Coordinator</p>
          <p class="card-content">+91-9603062435</p>
          <p class="card-content">web@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/a.v.ravikiran" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--creatives-->
      <hr class="divide">
      <div class="container">
        <!-- Aman -->
        <div class="card" style="width: 20rem;">
          <figure class="effect-bubba">
            <img class="card-img-top image" src="{% static 'img/beta/team/aman.JPG' %}" alt="Card image cap">
          </figure>
          <div class="card-block"><br>
            <p class="card-title">Aman Chaurasia</p>
            <p class="card-content" >Marketing core</p>
            <p class="card-content">+91-8517885075</p>
            <p class="card-content">aman@elan.org.in</p>
            <div class="socialbtns">
              <li><a href="#" class="fa fa-lg fa-facebook"></a></li>
            </div>
          </div>
        </div>
      </div>


      <!--Ashish -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/ashish.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Sai Ashish</p>
          <p class="card-content" >Marketing Coordinator</p>
          <p class="card-content">+91-8712706625</p>
          <p class="card-content">ashish@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/sai.ashish.12177" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--laxmi -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/laxmi.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Lakshmi Mangu</p>
          <p class="card-content" >Marketing Coordinator</p>
          <p class="card-content">+91-9494663939</p>
          <p class="card-content">lakshmi@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/profile.php?id=100012302258695" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Piyush -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/piyush.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Piyush Udhan</p>
          <p class="card-content" >Marketing Coordinator</p>
          <p class="card-content">+91-9405811696</p>
          <p class="card-content">piyush@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/piyush.udhan.5" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Uwais -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/uwais.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Uwais Ulde</p>
          <p class="card-content" >Marketing Coordinator</p>
          <p class="card-content">+91-9833755793</p>
          <p class="card-content">uwais@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="#" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Roshini -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/roshini.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Roshni Pande</p>
          <p class="card-content" >Marketing Coordinator</p>
          <p class="card-content">+91-9441532192</p>
          <p class="card-content">roshni@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/roshni.pande.10" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Diwani -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/deep.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Deep Diwani</p>
          <p class="card-content" >Marketing Coordinator</p>
          <p class="card-content">+91-8758536303</p>
          <p class="card-content">deep@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/deep.diwani" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>
      <hr class="divide">

      <!--Infi,Production-->
      <div class="container">
        <!-- Yash -->
        <div class="card" style="width: 20rem;">
          <figure class="effect-bubba">
            <img class="card-img-top image" src="{% static 'img/beta/team/yash.JPG' %}" alt="Card image cap">
          </figure>
          <div class="card-block"><br>
            <p class="card-title">Yash  Pitroda</p>
            <p class="card-content" >Infra, Pronites & Production Core</p>
            <p class="card-content">+91-9505464597</p>
            <p class="card-content">yash@elan.org.in</p>
            <div class="socialbtns">
              <li><a href="https://www.facebook.com/yash.pitroda1" class="fa fa-lg fa-facebook"></a></li>
            </div>
          </div>
        </div>
      </div>

      <!--Sahil -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/sahil.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Sahil Khobragade</p>
          <p class="card-content" >Infra Coordinator</p>
          <p class="card-content">+91-9588450851</p>
          <p class="card-content">sahil@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="#" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Bharadwaja -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/bharadwaja.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Bharadwaja Ryali</p>
          <p class="card-content" >Pronites Coordinator</p>
          <p class="card-content">+91-7661046637</p>
          <p class="card-content">bharadwaja@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/bharadwaja.ryali" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Neeraj -->
      <div class="card" style="width: 20rem;">
        <figure class="effect-bubba">
          <img class="card-img-top image" src="{% static 'img/beta/team/neeraj.JPG' %}" alt="Card image cap">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Neeraj Tak</p>
          <p class="card-content" >Production Coordinator</p>
          <p class="card-content">+91-8107209314</p>
          <p class="card-content">neeraj@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/neeraj.tak.129" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>

      <!--Overall-->
      <hr class="divide">
      <div class="container" style="margin-bottom:5%;">
        <!-- Sruajn -->
        <div class="card" style="width: 20rem;">
          <figure class="effect-bubba">
            <img class="card-img-top image" src="{% static 'img/beta/team/srujan.JPG' %}" alt="Card image cap">
          </figure>
          <div class="card-block"><br>
            <p class="card-title">Srujan Bazar</p>
            <p class="card-content" >Overall Coordinator</p>
            <!-- <p class="card-content">+91-9866303390</p> -->
            <p class="card-content">srujan@elan.org.in</p>
            <div class="socialbtns">
              <li><a href="https://www.facebook.com/srujanbazar" class="fa fa-lg fa-facebook"></a></li>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="footer"><a target="_blank" href="https://twitter.com/elan_iith"><img class="footerimg" src="{% static 'img/beta/footer/twitter.png' %}"></a><a target="_blank" href="https://www.facebook.com/elan.iithyderabad/"><img class="footerimg" src="{% static 'img/beta/footer/fb.png' %}"></a><a target="_blank" href="https://www.instagram.com/elan_and_nvision/"><img class="footerimg" src="{% static 'img/beta/footer/insta.png' %}"></a>
    <a target="_blank" href="https://www.youtube.com/user/ElanIITHyderabad"><img class="footerimg" src="{% static 'img/beta/footer/yt.png' %}"></a></div>
<!--   Core JS Files   -->
<script src="{% static 'js/beta/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/beta/tether.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/beta/bootstrap.min.js' %}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'js/beta/plugins/bootstrap-switch.js' %}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'js/beta/plugins/nouislider.min.js' %}" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{% static 'js/beta/plugins/bootstrap-datepicker.js' %}" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="{% static 'js/beta/now-ui-kit.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/beta/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/beta/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/beta/navbar.js' %}"></script>
</html>
