
{% load static %}
{% include "base.html" %}
<body>
	<link href="{% static 'css/icon.css' %}" rel='stylesheet' type='text/css'>
	<link href="{% static 'css/icon2.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/normalize.css' %}" rel='stylesheet' type='text/css'>
	<link href="{% static 'css/csslogin.css' %}" rel='stylesheet' type='text/css'>		
	<script type="text/javascript">

		{% if message %}
		alert ( "{{ message }}" );
		{% endif %}

	 	function cambiar_login() {
	 		document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_login";  
			document.querySelector('.cont_form_login').style.display = "block";
			document.querySelector('.cont_form_sign_up').style.opacity = "0";
			setTimeout(function(){
				document.querySelector('.cont_form_login').style.opacity = "1"; },400);
				setTimeout(function(){
					document.querySelector('.cont_form_sign_up').style.display = "none";
				},200);
		}

		function cambiar_sign_up(at) {
			document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_sign_up";
			document.querySelector('.cont_form_sign_up').style.display = "block";
			document.querySelector('.cont_form_login').style.opacity = "0";
			setTimeout(function(){
				document.querySelector('.cont_form_sign_up').style.opacity = "1";
			},100);
			setTimeout(function(){
				document.querySelector('.cont_form_login').style.display = "none";},
				400);
		}    

		function ocultar_login_sign_up() {
			document.querySelector('.cont_forms').className = "cont_forms";  
			document.querySelector('.cont_form_sign_up').style.opacity = "0";               
			document.querySelector('.cont_form_login').style.opacity = "0";
			setTimeout(function(){
				document.querySelector('.cont_form_sign_up').style.display = "none";
				document.querySelector('.cont_form_login').style.display = "none";
			},500);}
	</script>

	<div class="cont_login">
		<div class="cont_info_log_sign_up">
      		<div class="col_md_login">
				<div class="cont_ba_opcitiy">
        			<h2>LOGIN</h2>  
  					<p>Welcome Back!!!</p> 
  					<button class="btn_login" onclick="cambiar_login()">LOGIN</button>
  				</div>
  			</div>
			<div class="col_md_sign_up">
				<div class="cont_ba_opcitiy">
  					<h2>SIGN UP</h2>
  					<p>Join Us Now!!!</p>
  					<button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
				</div>
  			</div>
        </div>    
	    <div class="cont_back_info">
	    	<div class="cont_img_back_grey">
	        <img height=100% src="{% static 'img/formimg.jpg' %}" alt="" />
	    </div>
	</div>
	<div class="cont_forms" >
	    <div class="cont_img_back_">
	    	<img height=100% src="{% static 'img/formimg.jpg' %}" alt="" />
	    </div>
	    <form method="post" action="do_login/">
	    {% csrf_token %}
	 	<div class="cont_form_login">
			<a href="#" onclick="ocultar_login_sign_up()" ><md-icon class="material-icons arrow-left1" role="img" aria-label="back" style="margin-left: -0.5em;">arrow_back</md-icon></a>
	   		<h2 style="color: white;">LOGIN</h2>	   		
			<md-icon class="material-icons" role="img" aria-label="mail">mail</md-icon>
	 		<!-- <input type="text" placeholder=" Email" /> -->
	 		{{ LoginForm.username }}
			<md-icon class="material-icons" role="img" aria-label="vpn_key">vpn_key</md-icon>
			<!-- <input type="password" placeholder="Password" /> -->
			{{ LoginForm.password }}
			<div class="button-container button-water-fill wave-blue">
	          	<div class="filler">
	              	<div class="button">
	                	<button class="submit_btn"><i style="color: white;">LOGIN</i></button>
	              	</div>
	          	</div>
	      	</div>	      	
	  	</div>
	  	</form>
	  	<br>


	  	<form action="do_register/" method="post">
	  	{% csrf_token %}
	   	<div class="cont_form_sign_up">
			<a href="#" onclick="ocultar_login_sign_up()"><md-icon class="material-icons arrow-left1" role="img" aria-label="back" style="margin-left: -0.5em;">arrow_back</md-icon></a>
	     	<h2 style="color: white;">SIGN UP</h2>
			<md-icon class="material-icons" role="img" aria-label="edit">edit</md-icon>
			{{ RegisterForm.username }}
			<md-icon class="material-icons" role="img" aria-label="home">home</md-icon>
			{{ ProfileForm.college }}
			<md-icon class="material-icons" role="img" aria-label="home">home</md-icon>
			{{ ProfileForm.city }}
			<md-icon class="material-icons" role="img" aria-label="phone">phone</md-icon>
			{{ ProfileForm.mobile }}
			<md-icon class="material-icons" role="img" aria-label="mail">mail</md-icon>
			{{ RegisterForm.email }}
			<md-icon class="material-icons" role="img" aria-label="vpn_key">vpn_key</md-icon>
			{{ RegisterForm.password1 }}
			<md-icon class="material-icons" role="img" aria-label="vpn_key">vpn_key</md-icon>
			{{ RegisterForm.password2 }}
			{{ ProfileForm.gender }}
		  	<!-- Male<input type="radio" name="gender" value="male" > 
		  	Female<input type="radio" name="gender" value="female">  -->
			<div class="button-container button-water-fill wave-blue">
	        	<div class="filler">
	              	<div class="button">
	                	<button class="submit_btn"><i style="color: white;">SIGN UP</i></button>
	              	</div>
	          	</div>
	      	</div>
	    </div>
		</form>
	</div>
	
