<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>About | ELAN & nVision 2k18 | IIT Hyderabad</title>
   <link rel="stylesheet" type="text/css" href="{% static 'css/beta/bootstrap.min.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/beta/about.css' %}">
	<!-- FAVICONS -->
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ηvision is the techno-management fest of IIT Hyderabad.">
    <meta name="copyright" content="ELAN & ηvision 2018">
    <meta name="author" content="ELAN & ηvision 2018">
    <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,awesome,workshops,kludge,infero,cephid,ecell,robotics,equilibria,torque,electronica">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />


	<link href="{% static 'css/normalize.css' %}" rel='stylesheet' type='text/css'>
	<link href="{% static 'css/icon.css' %}" rel='stylesheet' type='text/css'>
 	<link href="{% static 'css/icon2.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/team.css' %}">

<link rel="stylesheet" href="{% static 'css/home/nav.css' %}" type="text/css" />
  <script src="{% static 'js/scroll.min.js' %}"></script>
</head>

<style>
body {
	overflow:hidden;
}
.cbp-spmenu a.nav-link {
display: block;
color: #fff;
height: 5vh;
font-size: 100%;;
font-weight: 300;
	font-weight: bold;
}
.logo{
	margin-top:15%;
}
h1,.row{
	margin-top: 15%;
}
</style>

<body>

	<!--NAVMENU-->

	<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
	    <h3 style="margin: 0;"><img src="{% static 'img/home/p0_1_new.png' %}" alt="Elan & &eta;Vision 2018"></h3>

	    {% if user.is_authenticated %}
	    <a class="nav-link" href="/dashboard"><i class="fa fa-id-card" aria-hidden="true"></i>EN18IITH{{ profile.elanids|stringformat:"05d" }}</a>
	    <a class="nav-link"><i class="fa fa-envelope" aria-hidden="true"></i>{{ user.get_username }}</a>
	    <a class="nav-link" href="/login/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
	    {% else %}
	    <a class="nav-link" href="/login"><i class="fa fa-ticket" aria-hidden="true"></i>Register</a>
	    {% endif %}
	    <a class="nav-link is_active" href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
	    <a class="nav-link " href="/events"><i class="fa fa-trophy" aria-hidden="true"></i>Events</a>
	    <a class="nav-link " href="/sponsors"><i class="fa fa-handshake-o" aria-hidden="true"></i>Sponsors</a>
	    <a class="nav-link" href="/workshops"><i class="fa fa-puzzle-piece" aria-hidden="true"></i>Workshops</a>
			<a class="nav-link" href="/freeworkshops"><i class="fa fa-puzzle-piece" aria-hidden="true"></i>Free Workshops</a>
	    <a class="nav-link" href="/team"><i class="fa fa-users" aria-hidden="true"></i>Team</a>
	    <a class="nav-link" href="/pronites"><i class="fa fa-music" aria-hidden="true"></i>Pronites</a>
	    <a class="nav-link" href="/hackathon"><i class="fa fa-header" aria-hidden="true"></i>Hackathon</a>
	    <a class="nav-link" href="/litfest"><i class="fa fa-pencil" aria-hidden="true"></i>Litfest</a>
		<a class="nav-link" href="/mypledge"><i class="fa fa-envira" aria-hidden="true"></i>Social Cause</a>
		<a class="nav-link" href="/#accomo"><i class="fa fa-bed" aria-hidden="true"></i>Accomodation</a>
		<a class="nav-link" href="/associate"><i class="fa fa-user-plus" aria-hidden="true"></i>Associate</a>
	    <div class="social">
	  <a href="https://www.facebook.com/elan.iithyderabad/" target="_blank" class="icon fb"><i class="fa fa-facebook"></i></a>
	  <a href="https://twitter.com/elan_nvision" target="_blank" class="icon fb"><i class="fa fa-twitter"></i></a>
	  <a href="https://www.youtube.com/user/ElanIITHyderabad" target="_blank" class="icon fb"><i class="fa fa-youtube"></i></a>
	  <a href="https://www.instagram.com/elan_and_nvision/" target="_blank" class="icon fb"><i class="fa fa-instagram"></i></a>
	</div>
	        </nav>
	        <div id="showLeftPush" class="menu-icon">
	      <div class="line_one"></div>
	      <div class="line_two"></div>
	        <div class="line_three"></div>
	</div>
	<!--NAVMENU END-->
	<div class="logo-div">
      <a href="/"><img src="{% static 'img/new_logo_big.png' %}" class="logo"></a>
  </div>
<h1 class="text-center">About Us</h1>
<hr>
<div class="row">
<div class="col-lg-10 col-md-12"><p class="text-center">Elan & &eta;vision, the most anticipated and grandiose festival of IIT Hyderabad, is back with a conglomerate of splendiferous events to galvanize the mob. Since inception, its fervid tendrils have touched the hearts of every adroit organiser and participant leaving a legacy to be upheld by its family of dedicated students.<br><br>

Elan and &eta;vision is an elegant brew of culture, innovation and feverish exhilaration stimulating an atmosphere of intense competitions and professional performances.
With a carefully fabricated range of events, covering varied genres in art, music and technology, we have something for everyone.<br><br>

Elan & &eta;vision 2018, arguably the grandest techno-cultural fiesta you will ever come across, promises an eximious experience for spectators and participants alike.</p></div></div>
<div class="row">
<div class="col-lg-6 col-md-12 " style="margin:auto;">
  <div  style="width:70%;margin:auto;margin-bottom:20%;"><div class="videowrapper">
<iframe  src="https://www.youtube.com/embed/MNSV0p2qykE" frameborder="0" allowfullscreen></iframe></div>
</div>
</div>
</div>
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script type='text/javascript' src="{% static 'js/home/classie.js' %}"></script>
<script type='text/javascript' src="{% static '/js/home/nav.js' %}"></script>
</html>
