<!DOCTYPE html>
<html lang="en">
  <head>
    {% load  static %}
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>Cisco Networking | ELAN & &eta;vision 2018</title>
      <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ηvision is the techno-management fest of IIT Hyderabad.">
    <meta name="copyright" content="ELAN & ηvision 2018">
    <meta name="author" content="ELAN & ηvision 2018">
    <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,awesome,workshops,kludge,infero,cephid,ecell,robotics,equilibria,torque,electronica">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#283389">
    <meta property="og:site_name" content="ELAN & ηvision 2018">
    <meta property="og:title" content="ELAN & ηvision 2018">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="https://nvision.org.in/img/logo.png' %}"> -->
    <!-- <meta property="og:url" content="https://nvision.org.in/sponsors/"> -->
    <meta property="og:description" content="ELAN & ηvision 2018: Techno-cultural Fest of IIT Hyderabad">
  <link rel="stylesheet" type="text/css" href="{% static 'css/beta/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<!-- FAVICONS -->
<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon.png' %}">
  </head>
  <style>
      #home {
        background: url("{% static 'img/Autoedited.jpg") no-repeat center center fixed;
        display: table;
        height: 100%;
        position: relative;
        width: 100%;
        -webkit-background-size: 80%;
        -moz-background-size: 80%;
        -o-background-size:60%;
        background-size: 60%;
        /*-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size:cover;
        background-size: cover;*/
}
  </style>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
      <div class="container" style="width:90%!important;max-width:1920px;margin:auto;padding:0;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-logo" href="index.html">
                <div class="logo nav-logo"><img src="{% static 'img/logo.png' %}" style="max-width: 100%;"/></div>
              </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
                    <li id="about-btn">
                        <a class="btn-2">
                            <p>About</p>
                        </a>
                    </li>
                    <li id="register-btn">
                        <a class="btn-2">
                            <p>Register</p>
                        </a>
                    </li>
                    <li id="highlights-btn">
                        <a class="btn-2">
                            <p>Highlights</p>
                        </a>
                    </li>
                    <li id="outline-btn">
                        <a class="btn-2">
                            <p>Outline</p>
                        </a>
                    </li>
                    <li id="contact-btn">
                        <a class="btn-2">
                            <p>Contact</p>
                        </a>
                    </li>

                    <li id="hospitality-btn">
                        <a class="btn-2">
                            <p>Hospitality</p>
                        </a>
                    </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<!--  end navbar -->
<!-- first section - Home -->
<!-- <div id="home" class="home"></div> -->
      <div class="text-center" id="arrow-div" style=" margin-top:-2em;font-size:3em;"><i id="arrow" class="fa fa-chevron-down"  aria-hidden="true"></i></div>
<!-- /first section -->
<!-- second section - About -->
<div id="about" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
<!-- <h1 class="mhead">Auto-Mechanics & Motor Sport Engineering<hr></h1> -->
<h1 style="margin-top: 15%;margin-left: 1%;font-size:48px;">Cisco Networking Workshop <hr></h1><br><br>
<h2 class="heading">About</h2><hr style="width: 50%;" /><br>
<p class="lead">
  What is Cisco networking? Ever wondered how the internet works? Ever got the thought to learn how your router works and all the protocols and the methods used? Are you bored of studying about old age communication techniques like AM and FM? Elan & ηvision, IIT Hyderabad in association with Azure Skynet presents to you this workshop on Cisco Networking. This workshop introduces you to the knowledge of present world’s networking devices and techniques.
  Participants will be introduced to Networking devices, Addressing, Routing, different protocols etc.

<br><br><br>

<div id="register" class="lead">
Venue : IIT Hyderabad <br>
Date : 9th and 10th February <br>
Timing : 10:00 AM to 6:00 PM <br>
Fee per person - ₹ 1000/- <br>
*No prerequisites required<br></div>
</p>
<h4>*Note: We are taking limited number of participants. Register and pay online to confirm your registration.<br>
There will be no onspot registration</h4>
<div class="row text-center" id="register">
      <div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-3"><a href="https://www.townscript.com/e/cisco-networking-workshop-031240" target="_blank" class="btn btn-sm animated-button thar-three">Pay Now</a></div>
      <div class="col-md-3 col-sm-3 col-xs-6"><a href="https://docs.google.com/forms/d/1rrgoVjd14B1iFpDK5CefpgXgD11iMuWgprnrwSjgXfA/viewform?edit_requested=true" target="_blank" class="btn btn-sm animated-button thar-three">Register</a></div>

      <!-- <div class="col-md-12 col-sm-12 col-xs-12" style="font-size:2.3em;">Registrations Closed !!</div> -->
</div>
</div>
</div>
</div>
</div>
<!-- /second section -->
<!-- third -->
<div id="highlights" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="heading text-center">Highlights</h2><hr style="width: 50%;" /><br>
        <ul class="hl">
          <li>Knowledge on current world’s networking devices and their use in industry</li>
          <li>Introduction to Cisco IOS
</li>
          <li>OSI model and Data Encapsulation</li>
          <li>Introduction to Network Security</li>
          <li>RIP, EIGRP and OSPF Routing</li>
          <li>Creating VLAN and ACL</li>
          <li>Get trained by professionals
</li>
          <li>Certificate from Elan & ηvision, IIT Hyderabad
</li>
          <li>Live Demos and Interactive Question & Answer sessions
</li>
          <li>Softwares : Cisco Packet Tracer, Wireshark & Putty</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- third end -->
<!--fourth -->
<div id="outline" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Outline</h2><hr style="width: 50%;" /><br></div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <span class="d1-lead">Day 1 Session 1</span><br>
    <!-- <span class="d1-lead" style="text-decoration:none">Auto Mechanics</span><br> -->
    <ul class="d1">
      <li>Networking Devices and their use in industry
</li>
      <li>Concept of DHCP and DNS protocol
</li>
      <li>Introduction to Cisco IOS
</li>
      <li>Configuring DHCP in Cisco Packet Tracer</li>
      <li>Finding IP address of a website using DNS protocol</li>
      <li>Introduction to OSI model and Data Encapsulation</li>
      <li>Capturing Network traffic using Wireshark</li>
      <li>Introduction to Network Security</li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-12">
  <span class="d1-lead">Day 1 Session 2</span><br>
    <!-- <span class="d1-lead" style="text-decoration:none">IC Engine</span> -->
    <ul class="d1">
      <li>IP Addressing</li>
      <li>Network Address Translation</li>
      <li>Subnetting</li>
      <li>VLSM</li>
      <li>Introduction to Routing</li>
      <li>Static Routing</li>
    </ul>
  </div>

</div>


<div class="row below">
  <div class="col-md-6 col-sm-12">
    <span class="d1-lead">Day 2 Session 1</span><br>
    <!-- <span class="d1-lead" style="text-decoration:none" >Energy & Transmission of Motor Sport Vehicles</span><br> -->
    <ul class="d1">
      <li>RIP Routing</li>
      <li>RIPv2 Routing</li>
      <li>Introduction to Advance Distance Vector Routing</li>
      <li>EIGRP Routing</li>
      <li>Introduction to Link State Routing Protocol

</li>
      <li>OSPF Routing</li>
    </ul>

  </div>



  <div class="col-md-6 col-sm-12">
  <span class="d1-lead d2-lead">Day 2 Session 2</span><br>
    <span class="d1-lead d2-lead" style="text-decoration:none">Performance parameters of Race Vehicles</span>
    <ul class="d1">
      <li> Introduction to Switching</li>
      <li> VLAN configuration
</li>
      <li> Creating ACL</li>
      <li> Scholarship Exam</li>
      <li> Zonal Winner Declaration</li>
      <li>Certificate Distribution</li>
    </ul>
  </div>
</div>
</div>

<div class="row below">

</div>

</div>
</div>


<!--fourth end -->
<!-- third -->
<div id="contact" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Contact Us</h2><hr style="width: 50%;" /><br>

    <!-- <div class="col-sm-12 col-md-6 text-center">
    <div class="card first-card" style="width: 20rem;margin:auto;">
          <figure class="effect-bubba">
            <img class="card-img-top image" style="border-radius:50%;" src="{% static 'img/team/suprabath.JPG' %}">
          </figure>
          <div class="card-block"><br>
            <p class="card-title">Suprabath Reddy</p>
            <p class="card-content" >Technical Events Core</p>
            <p class="card-content">+91-9010501499</p>
            <p class="card-content">suprabath@elan.org.in</p>
            <div class="socialbtns">
              <li><a href="https://www.facebook.com/suprabathreddy9" class="fa fa-lg fa-facebook"></a></li>
            </div>
          </div>
        </div>
      </div> -->

  <div class="col-sm-12 col-md-12 text-center">
    <div class="card first-card" style="width: 20rem;margin: auto">
        <figure class="effect-bubba">
          <img class="card-img-top image" style="border-radius:50%;" src="{% static 'img/team/aravind.JPG' %}">
        </figure>
        <div class="card-block"><br>
          <p class="card-title">Aravind Ganesh</p>
          <p class="card-content" >Workshops Coordinator</p>
          <p class="card-content">+91-9490329561</p>
          <p class="card-content">aravind@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/aravindganesh.28" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
</div>
</div>
</div>
<!-- second section - About -->
<div id="hospitality" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
<h1 class="mhead"><hr></h1>
<h2 class="heading">Hospitality</h2><hr style="width: 50%;" /><br>
<p>All information will be provided soon.</p>
<p>Accomodation will be provided on first come, first serve basis.</p>
<!-- <p class="lead">Cisco Networking workshop is being organized in the permanent campus of IIT Hyderabad (Kandi campus). Limited accommodation is available during workshop.
<br><br>
Please mail at  <a href="mailto:irfan@elan.org.in">irfan@elan.org.in</a> in advance and specify the duration of your stay (mention dates also) at IIT Hyderabad. Kindly mention your contact number in the mail. You will get a confirmation mail once your accommodation is confirmed. Kindly bring the e-copy/printout of the confirmation mail while coming for workshop. Accommodation charges – Rs 300  per person per day. Food coupons will be provided to you at the accommodation desk. Accommodation will be provided solely on sharing basis. <br><br></p>
  <div class="row">
    <div class="col-md-12 text-center col-sm-12">
      <ul style="color:white;font-size: 1.5em;list-style-type: none">
      <li style="text-align: center;">Accomodation details will be provided soon.<a target="_blank" href="assets/docs/Hospitality_details.pdf">&nbsp;Accomodation Details</a></li><br>
      <li style="text-align: center;"><a target="_blank" href="assets/docs/Transport_details.pdf">&nbsp;Transportation Details</a></li>
  </ul> -->
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- /second section -->
<div class="footer"><a target="_blank" href="https://twitter.com/elan_iith"><img class="footerimg" src="{% static 'img/footer/twitter.png' %}"></a><a target="_blank" href="https://www.facebook.com/elan.iithyderabad/"><img class="footerimg" src="{% static 'img/footer/fb.png' %}"></a><a target="_blank" href="https://www.instagram.com/elan_and_nvision/"><img class="footerimg" src="{% static 'img/footer/insta.png' %}"></a>
    <a target="_blank" href="https://www.youtube.com/user/ElanIITHyderabad"><img class="footerimg" src="{% static 'img/footer/yt.png' %}"></a></div>

</body>
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/scroll.min.js' %}"></script>

  <script>
      $.extend($.scrollTo.defaults,{
          axis:'y',duration:600
      });
    $('#arrow-div').on('click', '.fa.fa-chevron-down', function () {
        console.log("dd");
      $(window).scrollTo($("#about"));
      $(window).scrollTo("-=20px");
    });
    $('#about-btn').on('click',function () {
      $(window).scrollTo($("#about"));
      $(window).scrollTo("-=20px");
    });
    $('#register-btn').on('click',function () {
      $(window).scrollTo($("#register"));
      $(window).scrollTo("-=100px");
    });
    $('#highlights-btn').on('click',function () {
      $(window).scrollTo($("#highlights"));
      $(window).scrollTo("-=45px");
    });
    $('#outline-btn').on('click',function () {
      $(window).scrollTo($("#outline"));
      $(window).scrollTo("-=45px");
    });
    $('#contact-btn').on('click',function () {
      $(window).scrollTo($("#contact"));
      $(window).scrollTo("-=45px");
    });
    $('#hospitality-btn').on('click',function () {
      $(window).scrollTo($("#hospitality"));
      $(window).scrollTo("-=45px");
    });

    $(function(){
        var navMain = $(".navbar-collapse"); // avoid dependency on #id
        // "a:not([data-toggle])" - to avoid issues caused
        // when you have dropdown inside navbar
        navMain.on("click", "a:not([data-toggle])", null, function () {
        navMain.collapse('hide');
    });
 });
  </script>

</html>
