




{% load static %}
  {% include "base.html" %}
  <title>Events | ELAN & ηvision 2018</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!--{% load static %}-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Actor" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Actor|Rajdhani" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">


<style type="text/css">
    .mheading {
        display: none;
    }
</style>
<body>
	<div class="logo-div">
      <a href="/"><img src="/static/img/logo.png" class="logo"></a>
  </div>
    <div class="row" style="margin-top: 2%;width: 75%;border:solid grey 2px;">
    	<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">Elan Id: EN18IITH{{ profile.elanids|stringformat:"05d" }}</div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4" >Name: {{ profile.full_name }}</div>
        <div class="col-md-4 col-sm-4 col-xs-4">Email: {{ user.username }}</div>
        <div class="col-md-4 col-sm-4 col-xs-4"">Mobile: {{ profile.mobile }}</div>  
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">College: {{ profile.college }}</div>
        <div class="col-md-4 col-sm-4 col-xs-4"">Gender: {{ profile.gender }}</div>
        <div class="col-md-4 col-sm-4 col-xs-4"">City: {{ profile.city }}</div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6"">Gender: {{ profile.zipcode }}</div>
        <div class="col-md-6 col-sm-6 col-xs-6">Adress: {{ profile.adress }}</div>       
      </div>
    </div>
    <div class="row"></div>
      <div class="container" style="padding: 0;">
    		<table class="table table-inverse table-bordered" style="text-align: center;width: 100%;">
    			<thead>
  			    <tr>
  			      <th>Registered Events</th>
              <th>Registered at</th>
  			    </tr>
    			</thead>
    			<tbody style="color: white">
            {% if events %}
            {% for event in events %}
    				<tr><td>{{ event.event }}</td><td>{{ event.time }}</td></tr>
            {% endfor %}
            {% else %}
            <tr><td colspan="2">You haven't registered for any events.</td></tr>
            {% endif %}
    			<tbody>
    		</table>
      </div>
    </div> 
    <div class="container" style="text-align: center;">
      <a href="/events"><button class="btn1">Go to Events Page</button></a>
      <a href="/elmatrico"><button class="btn1">Elmatrico</button></a>
    </div>   	
    
</body>


