




{% load static %}
  {% include "base.html" %}
  <title>Events | ELAN & ηvision 2018</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!--{% load static %}-->
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Actor" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Actor|Rajdhani" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">


<style type="text/css">
    .mheading {
        display: none;
    }
</style>
<body>
	<div class="logo-div">
      <a href="/"><img src="/static/img/logo.png" class="logo"></a>
    </div>
    <div class="container" style="text-align: center;">
      <a href="/"><button class="btn btn-secondary">HOME</button></a>
    </div>   	
    
</body>


