




{% load static %}
  {% include "base.html" %}
  <title>ELAN & ηvision 2018</title>
  <!-- FAVICONS -->
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!--{% load static %}-->
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Actor" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Actor|Rajdhani" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">


<style type="text/css">
    .mheading {
        display: none;
    }
</style>
<body>
	<div class="logo-div">
      <a href="/"><img src="/static/img/new_logo.png" class="logo"></a>
  </div>
  <div class="container" style="margin-top:15%;color:white;">
  	<h2>Thank You! Please check your email to activate your subscription</h2><br>
    <p>There is just one more step.  We sent you a confirmation email with a link to activate your account.  Please check your email and click the link.</p>
  </div>
    <div class="container" style="text-align: center;">
      <a href="/events"><button class="btn1 btn-secondary"><i class="fa fa-home"></i> HOME</button></a>
      <a href="/events"><button class="btn1 btn-secondary"><i class="fa fa-trophy"></i> EVENTS</button></a>
    </div>

</body>
