<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Pronites | ELAN & ηvision 2018</title>
		<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
	    <meta name="description" content="ηvision is the techno-management fest of IIT Hyderabad.">
    	<meta name="copyright" content="ELAN & ηvision 2018">
    	<meta name="author" content="ELAN & ηvision 2018">
    	<meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,awesome,workshops,kludge,infero,cephid,ecell,robotics,equilibria,torque,electronica">
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/pater.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/home/nav.css' %}" />
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
		<script src="https://use.fontawesome.com/3df62ea4e9.js"></script>
	</head>
	<style type="text/css">.logo-div {
  width: 50%;
  left: 25%;
  text-align: center;
  z-index: 1000;
  position: fixed;
}
.logo {
  width: 50%;
  margin: auto;
}</style>
	<body class="demo-5 loading">
		<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <h3 style="margin: 0;"><img src="{% static 'img/home/p0_1_new.png' %}" alt="Elan & &eta;Vision 2018"></h3>
    <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
    <a class="nav-link " href="/events"><i class="fa fa-trophy" aria-hidden="true"></i>Events</a>
    <a class="nav-link " href="/sponsors"><i class="fa fa-handshake-o" aria-hidden="true"></i>Sponsors</a>
    <a class="nav-link" href="/workshops"><i class="fa fa-puzzle-piece" aria-hidden="true"></i>Workshops</a>
    <a class="nav-link" href="/team"><i class="fa fa-users" aria-hidden="true"></i>Team</a>
    <a class="nav-link is_active" href="/pronites"><i class="fa fa-music" aria-hidden="true"></i>Pronites</a>
    {% if user.is_authenticated %}
    <a class="nav-link" href="/newsite/dashboard"><i class="fa fa-id-card" aria-hidden="true"></i>EN18IITH{{ profile.elanids|stringformat:"05d" }}</a>
    <a class="nav-link" style="font-size:0.9em;"><i class="fa fa-envelope" aria-hidden="true"></i>{{ user.get_username }}</a>
    <a class="nav-link" href="/login/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
    {% else %}
    <a class="nav-link" href="/login"><i class="fa fa-ticket" aria-hidden="true"></i>Register</a>
    {% endif %}
    <div class="social">
  <a href="https://www.facebook.com/elan.iithyderabad/" target="_blank" class="icon fb"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/elan_nvision" target="_blank" class="icon fb"><i class="fa fa-twitter"></i></a>
  <a href="https://www.youtube.com/user/ElanIITHyderabad" target="_blank" class="icon fb"><i class="fa fa-youtube"></i></a>
  <a href="https://www.instagram.com/elan_and_nvision/" target="_blank" class="icon fb"><i class="fa fa-instagram"></i></a>
</div>
        </nav>
        <div id="showLeftPush" class="menu-icon">
      <div class="line_one"></div>
      <div class="line_two"></div>
        <div class="line_three"></div>
</div>
<!--NAVMENU END-->
<div class="logo-div">
      <a href="/"><img src="/static/img/logo.png" class="logo"></a>
    </div>
		<main>
			<div class="slideshow">
				<div class="slides">
					<div class="slide slide--current">
						<div class="slide__img" style="background-image: url({% static 'img/37.jpg' %})"></div>
						<h2 class="slide__title" style="">PRONITES</h2>
						<p class="slide__desc"></p>
						<a class="slide__link" href="#">Explore destinations</a>
					</div>
					<div class="slide">
						<div class="slide__img" style="background-image: url({% static 'img/39.jpg' %})"></div>
						<h2 class="slide__title" style="">PRONITES</h2>
						<p class="slide__desc"></p>
						<a class="slide__link" href="#">Adventure yourself</a>
					</div>
					<div class="slide">
						<div class="slide__img" style="background-image: url({% static 'img/40.jpg' %})"></div>
						<h2 class="slide__title" style="">PRONITES</h2>
						<p class="slide__desc"></p>
						<a class="slide__link" href="#">Discover the unknown</a>
					</div>
					<div class="slide">
						<div class="slide__img" style="background-image: url({% static 'img/41.jpg' %});"></div>
						<h2 class="slide__title" style="">PRONITES</h2>
						<p class="slide__desc"></p>
						<a class="slide__link" href="#">Let's go</a>
					</div>
				</div>
				<nav class="slidenav">
					<button class="slidenav__item slidenav__item--prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
					<button class="slidenav__item slidenav__item--next"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
				</nav>
			</div>
		</main>
		<script src="{% static 'js/demo.js' %}"></script>
		<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
		<script src="{% static 'js/anime.min.js' %}"></script>
		<script src="{% static 'js/demo5.js' %}"></script>
		<script type='text/javascript' src="{% static '/js/home/nav.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/home/classie.js' %}"></script>
	</body>
</html>
