
    {% load static %}
    {% include "base.html" %}
    <title>Sponsors | ELAN & ηvision 2018</title>
    <!-- FAVICONS -->
  	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
  	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon.png' %}">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sponsors.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home/nav.css' %}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style type="text/css">
      .logo-div {
          width: 100%;
          text-align: center;
        }
        .logo {
          width: 30%;
        }
        @media(max-width: 768px){

  .logo-div {
      width: 50%;
      margin: auto;
    }

    .logo {
      width: 100%;
    }
}

    </style>
  <!--Body section-->
    <!--Commenting out the navbar
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="../Home_main/index.html" class="navbar-brand"><img src = " ./icons/newlogo.png' %}" class="img-responsive" style="width:49.9px; height:41.1px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 18px">
        <ul class="nav navbar-nav ml-auto navstyle">
          <li class="nav-item">
            <a class="nav-link" href="../Home_main/index.html">Home </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Sponsors 2018 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="spons2017.html">Sponsors 2017</a>
          </li>
        </ul>
      </div>
    </nav> -->
    <!-- Nav -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <h3 style="margin: 0;"><img src="{% static 'img/home/p0_1_new.png' %}" alt="Elan & &eta;Vision 2018"></h3>
    {% if user.is_authenticated %}
    <a class="nav-link" href="/dashboard"><i class="fa fa-id-card" aria-hidden="true"></i>EN18IITH{{ profile.elanids|stringformat:"05d" }}</a>
    <a class="nav-link" style="font-size:0.9em;"><i class="fa fa-envelope" aria-hidden="true"></i>{{ user.get_username }}</a>
    <a class="nav-link" href="/login/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
    {% else %}
    <a class="nav-link" href="/login"><i class="fa fa-ticket" aria-hidden="true"></i>Register</a>
    {% endif %}
    <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
    <a class="nav-link " href="/events"><i class="fa fa-trophy" aria-hidden="true"></i>Events</a>
    <a class="nav-link is_active" href="/sponsors"><i class="fa fa-handshake-o" aria-hidden="true"></i>Sponsors</a>
    <a class="nav-link" href="/workshops"><i class="fa fa-puzzle-piece" aria-hidden="true"></i>Workshops</a>
    <a class="nav-link" href="/team"><i class="fa fa-users" aria-hidden="true"></i>Team</a>
    <a class="nav-link" href="/pronites"><i class="fa fa-music" aria-hidden="true"></i>Pronites</a>
    <a class="nav-link" href="/hackathon"><i class="fa fa-header" aria-hidden="true"></i>Hackathon</a>
    <a class="nav-link" href="/litfest"><i class="fa fa-pencil" aria-hidden="true"></i>Litfest</a>
  <a class="nav-link" href="/mypledge"><i class="fa fa-envira" aria-hidden="true"></i>Social Cause</a>
  <a class="nav-link" href="/#accomo"><i class="fa fa-bed" aria-hidden="true"></i>Accomodation</a>
    <div class="social">
  <a href="https://www.facebook.com/elan.iithyderabad/" target="_blank" class="icon fb"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/elan_nvision" target="_blank" class="icon fb"><i class="fa fa-twitter"></i></a>
  <a href="https://www.youtube.com/user/ElanIITHyderabad" target="_blank" class="icon fb"><i class="fa fa-youtube"></i></a>
  <a href="https://www.instagram.com/elan_and_nvision/" target="_blank" class="icon fb"><i class="fa fa-instagram"></i></a>
</div>
        </nav>
        <div id="showLeftPush" class="menu-icon">
      <div class="line_one"></div>
      <div class="line_two"></div>
        <div class="line_three"></div>
</div>
        <!-- nav ends -->

    <div class="logo-div" style="margin-top:2%;">
      <a href="/"><img src="/static/img/logo.png" class="logo"></a>
    </div>
    <div class= "container" style="text-align: center;margin-top:2%;">
      <h2 class="title-font">Title Sponsor</h2>


      <div class="col-md-6 col-sm-6 col-xs-6 offset-sm-3" class="titlesponsors" ><br>
        <a class="thumbnail" style="width: 100%" target="_blank" href="http://www.cyient.com/">
          <img class="img-responsive" src="{% static 'img/beta/sponsors/cyient.jpg' %}">
        </a><br>
        <h3>CYIENT</h3>
      </div>
        <div class="row">

            <div class="col-sm-4" align="center">
                <h2>Major Sponsor</h2>
                <a href="http://www.whataftercollege.com/"><img style="width:80%" class="blueshadow img-responsive rounded img-thumbnail" src="{% static 'img/sponsors/wac.png' %}"></a>
                <h3>What After College</h3>
            </div>
            <div class="col-sm-4" align="center">
                <h2>Major Sponsor</h2>
                <a href="http://www.gailonline.com"><img style="width:90%" class="blueshadow img-responsive rounded img-thumbnail" src="{% static 'img/sponsors/gail.png' %}"></a>
                <h3>GAIL</h3>
            </div>
            <div class="col-sm-4" align="center">
                <h2>Major Sponsor</h2>
                <a href="http://www.pfcindia.com/"><img style="width:70%" class="blueshadow img-responsive rounded img-thumbnail" src="{% static 'img/sponsors/pfc.jpg' %}"></a>
                <h3>PFC</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <h2> Outreach partner</h2>
                <a href="http://www.azureskynet.com/"><img style="width:60%;" class="shadow img-responsive rounded img-thumbnail" src="{% static 'img/beta/sponsors/azure.jpg' %}"></a>
                <h3>Azure Skynet</h3>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <h2> Outreach partner</h2>
                <a href="https://entrench.in/"><img class="shadow img-responsive rounded img-thumbnail" src="{% static 'img/beta/sponsors/entrench.jpg' %}"></a>
                <h3>Entrench Electronics</h3>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <h2> Outreach partner</h2>
                <a href="http://www.skillthon.com/"><img class="shadow img-responsive rounded img-thumbnail" src="{% static 'img/beta/sponsors/skillthon.png' %}"></a>
                <h3>Skillthon</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <h4>Workshop partner</h4>
                <a href="https://www.techtrontechnologies.com/"><img class="whiteshadow img-responsive rounded img-thumbnail" src="{% static 'img/beta/sponsors/techtron.jpg' %}"></a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <h4>Online Events partner</h4>
                <a href="https://in.mathworks.com/"><img class="whiteshadow img-responsive rounded img-thumbnail" src="{% static 'img/sponsors/mathworks.jpg' %}"></a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <h4>Online Events partner</h4>
                <a href="https://www.hackerearth.com/"><img class="whiteshadow img-responsive rounded img-thumbnail" src="{% static 'img/sponsors/hackerearth.png' %}"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" style="display:none">
                <h4>Workshop partner</h4>
                <a href="https://www.techtrontechnologies.com/"><img class="whiteshadow img-responsive rounded img-thumbnail" src="{% static 'img/beta/sponsors/techtron.jpg' %}"></a>
            </div>
            <div class="col-md-12 col-sm-4 col-xs-4 col-md-offset-5">
                <h4>Voice Partner</h4>
                <a href="www.radiomirchi.com/"><img class="whiteshadow img-responsive rounded img-thumbnail" style="max-width:35%;" src="{% static 'img/sponsors/radiomirchi.png' %}"></a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="display:none">
                <h4>Online Events partner</h4>
                <a href="https://www.hackerearth.com/"><img class="whiteshadow img-responsive rounded img-thumbnail" src="{% static 'img/sponsors/hackerearth.png' %}"></a>
            </div>
        </div>

        <h1>Previous Sponsors</h1>
        <h4 class="title-font">Title Sponsor</h4>


        <div class="col-md-4 col-sm-4 col-xs-4 offset-sm-4" class="titlesponsors" >
          <a class="thumbnail" style="width: 100%" target="_blank" href="http://www.cyient.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/cyient.jpg' %}">
          </a>
        </div>

        <div class="col-lg-4 col-sm-3 hidden-xs thumb"></div>
      </div>
      <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 offset-sm-2">
                <h3>Associate Sponsor</h3>
                <a href="http://www.telanganatourism.gov.in/"><img class="shadow img-responsive rounded img-thumbnail" src="{% static 'img/beta/sponsors/tourism.jpg' %}"></a>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <h3>Powered By</h3>
                <a href="http://www.mtvindia.com/campusdiaries/"><img style="width:50%;" class="shadow img-responsive rounded img-thumbnail" src="{% static 'img/beta/sponsors/mtv.jpg' %}"></a>
            </div>
        </div>

    <!--   <div class="row">
        <div class="col-lg-2 col-sm-3 hidden-xs thumb"></div>

        <div class="tt col-lg-4 col-sm-6 col-xs-12 thumb">
          <a class="thumbnail" style="width: 100%;" target="_blank" href="http://www.telanganatourism.gov.in/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/tourism.jpg' %}"><br>
            <p class="sponsor-name">Telangana Tourism</p>
          </a>
          <div class="col-lg-4 col-sm-3 hidden-xs thumb"></div>
        </div>
        <div class="col-lg-4 col-sm-3 hidden-xs thumb"></div>

        <div class="pbs col-md-1 col-sm-12 text-center"><h4 class="title-font">Powered By</h4></div>
        <div class="mtv col-lg-4 col-sm-6 col-xs-12 thumb">
          <a class="thumbnail" style="width: 90%;" target="_blank" href="http://www.mtvindia.com/campusdiaries/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/mtv.jpg' %}"><br>
            <p class="sponsor-name">MTV Campus Diaries</p>
          </a>
        </div>
        <div class="col-lg-4 col-sm-3 hidden-xs thumb"></div>
      </div> -->
    <h2 style="text-align: center;">Sponsors</h2>
    <div class="container">
        <div class="row">

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.mtvixtreme.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/mtvixtreme.jpg' %}" style="padding: 10%;">
            <p class="sponsor-name">MTV Extreme</p>
            <p class="sponsor-role">ELAN-E-JUNG Title Sponsor</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://mtvindia.com/labs/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/MTV_Nescafe_Labs.jpg' %}" style="width:73%;padding: 8%;">
            <p class="sponsor-name">Nescafe Labs</p>
            <p class="sponsor-role">Talent Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://www.redfmindia.in/hyderabad">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/red.jpg' %}">
            <p class="sponsor-name">RED FM</p>
            <p class="sponsor-role">Radio Partner</p>
          </a>
        </div>


         <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://telanganatoday.news/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/telanganatoday.jpg' %}" style="width:100%;padding-bottom: 20%;padding-top: 25%;">
            <p class="sponsor-name">Telangana Today</p>
            <p class="sponsor-role">Media Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.etv.co.in/channels/home;jsessionid=C00A882DA45B91F0448E91465A26DEC4?channelId=2">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/ETV-Telangana Logo.jpg' %}" style="width:65%;padding-bottom: 12%;padding-top:11%;">
            <p class="sponsor-name">ETV Telangana</p>
            <p class="sponsor-role">Media Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.eenadu.net/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/eenadu.jpg' %}" style="width:100%;padding-bottom: 23%;padding-top:18%;">
            <p class="sponsor-name">Eenadu</p>
            <p class="sponsor-role">Media Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://beautypageants.indiatimes.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/femina.jpg' %}" style="width:75%;">
            <p class="sponsor-name">Miss India Organization</p>
            <p class="sponsor-role">**Major Sponsor</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://www.jio.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/jio.jpg' %}" style="width:70%;padding-bottom: 5%;">
            <p class="sponsor-name">JIO</p>
            <p class="sponsor-role">EDM Night Sponsor</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://www.facebook.com/RelianceTrends/?__mref=message_bubble">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/trends.jpg' %}" style="padding-top: 21%;padding-bottom: 21%;">
            <p class="sponsor-name">Reliance Trends</p>
            <p class="sponsor-role">Fashion Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.fashionlady.in/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/Fashionlady Logo.jpg' %}" alt="FASHION LADY" style="padding-top: 21%;padding-bottom: 21%;">
            <p class="sponsor-name">Fashion Lady</p>
            <p class="sponsor-role">Glamour Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://www.olacabs.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/ola.jpg' %}" style="padding-top: 15%;padding-bottom: 2%;">
            <p class="sponsor-name" style="margin-top: 12%;">OLA Cabs</p>
            <p class="sponsor-role">Cab Sponsor</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://www.godrejinterio.com/Godrejinterio/index.aspx">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/INTERIO.jpg' %}" style="padding-top: 23%;padding-bottom: 23%;">
            <p class="sponsor-name">Godrej Interio</p>
            <p class="sponsor-role">Furniture Sponsor</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.nikon.co.in/en_IN">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/nikon.jpg' %}" style="width:46%;padding-top: 8%;padding-bottom: 10%;">
            <p class="sponsor-name">Nikon</p>
            <p class="sponsor-role">Online Photography<br> Event Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.youthincmag.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/Youth-Incorporated.jpg' %}" style="padding-bottom: 14%;padding-top: 14%;">
            <p class="sponsor-name">Youth Incorporated</p>
            <p class="sponsor-role">Youth Magazine Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://embassies.gov.il/delhi/Pages/default.aspx">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/israel.jpg' %}" style="padding-bottom: 14%;padding-top: 14%;">
            <p class="sponsor-name">Embassy of Israel</p>
            <p class="sponsor-role">Cultural Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
            <a class="thumbnail" target="_blank" href="http://embassies.gov.il/delhi/Pages/default.aspx">
              <img class="img-responsive" src="{% static 'img/beta/sponsors/alliance-francaise.jpg' %}" style="padding-bottom: 22%;padding-top: 22%;">
              <p class="sponsor-name">Alliance Francaise</p>
              <p class="sponsor-role">Cultural Partner</p>
            </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://www.mylescars.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/myles.jpg' %}" style="padding-top: 24%;padding-bottom: 24%;">
            <p class="sponsor-name">Myles</p>
            <p class="sponsor-role">Self Drive Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.shopclues.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/shopclues.jpg' %}" style="padding-top: 7%;padding-bottom: 7%;">
            <p class="sponsor-name">Shopclues</p>
            <p class="sponsor-role">Online Shopping Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://www.facebook.com/felectrikk/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/felectrikk.jpg' %}" style="width: 80%;">
            <p class="sponsor-name">Felectrikk</p>
            <p class="sponsor-role">Photography Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://aceenggacademy.com//">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/ACE.jpg' %}" style="padding-top: 17%;padding-bottom: 17%;">
            <p class="sponsor-name">ACE Engineering<br> Academy</p>
            <p class="sponsor-role">Education Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.manyagroup.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/manaya-logo-new.jpg' %}" style="width: 75%;padding-top: 20%;padding-bottom: 20%;">
            <p class="sponsor-name">Manya Group</p>
            <p class="sponsor-role">Study Abroad Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.imthyderabad.edu.in/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/imt.jpg' %}" style="width: 98%;">
            <p class="sponsor-name">IMT Hyderabad</p>
            <p class="sponsor-role">Knowledge Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.fsm.ac.in/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/fore.jpg' %}" style="width: 83%;">
            <p class="sponsor-name">FORE school of<br>Management</p>
            <p class="sponsor-role">B-School Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="adda52.com">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/adda50.jpg' %}" style="padding-top: 13%;padding-bottom: 12%;">
            <p class="sponsor-name">adda52.com</p>
            <p class="sponsor-role">Online Gaming Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.flyingdreamfilmerz.com">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/flyingdreamfilmerz.jpg' %}" style="padding-top: 3%;padding-bottom: 3%;">
            <p class="sponsor-name">Flying Dream<br> Filmerz</p>
            <p class="sponsor-role">Aftermovie Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.safexpress.com">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/safeexpress.jpg' %}" style="padding-top: 12%;padding-bottom: 12%;">
            <p class="sponsor-name">Safexpress</p>
            <p class="sponsor-role">Official Supply Chain Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.novatechrobo.com/robofesthyd">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/novatech.jpg' %}">
            <p class="sponsor-name">Novatech</p>
            <p class="sponsor-role">Domain Partner</p>
          </a>
        </div>


        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.whataftercollege.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/wac.jpg' %}">
            <p class="sponsor-name">What After College</p>
            <p class="sponsor-role">Major Sponsor</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.stichio.co.in/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/stichio.jpg' %}" style="padding-top: 7.5%;padding-bottom: 7.5%;">
            <p class="sponsor-name">Stichio</p>
            <p class="sponsor-role">Dare Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.internshala.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/internshala.jpg' %}" style="width: 90%;">
            <p class="sponsor-name">Internshala</p>
            <p class="sponsor-role">Internship and Training<br> Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://www.hellointern.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/hello_intern.jpg' %}" style="width: 99%;">
            <p class="sponsor-name">Hello Intern</p>
            <p class="sponsor-role">Youth Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://www.grabon.in/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/grabon.jpg' %}" style="padding-bottom: 16%;padding-top: 16%;">
            <p class="sponsor-name">GrabON</p>
            <p class="sponsor-role">Exclusive Online<br> Coupons Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.lovelychocos.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/choco.jpg' %}" style="width: 99%;">
            <p class="sponsor-name">Lovely Chocos</p>
            <p class="sponsor-role">Gifting Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://www.facebook.com/VidurActingInstituteOfficialPage/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/vidur.jpg' %}" style="width: 80%;padding-bottom: 4%;padding-top: 5%;">
            <p class="sponsor-name">Vidur</p>
            <p class="sponsor-role">Drama Event Partner</p>
          </a>
        </div>

         <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.nrityadance.com">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/nrithya.jpg' %}" style="padding-bottom: 23%;padding-top: 23%;">
            <p class="sponsor-name">Nritya</p>
            <p class="sponsor-role">Art Exhibition Sponsor</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.songdew.com">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/songdew.jpg' %}" style="padding-bottom: 26%;padding-top: 23%;">
            <p class="sponsor-name">Songdew</p>
            <p class="sponsor-role">Music Media Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.awesong.in">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/Awesong.jpg' %}" style="width:115%;padding-bottom: 23%;padding-top: 23%;">
            <p class="sponsor-name">Awesong</p>
            <p class="sponsor-role">Online Music Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="musicmalt.com">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/music_malt_bg.jpg' %}" style="width:115%;padding-bottom: 28%;padding-top: 28%;">
            <p class="sponsor-name">Music Malt</p>
            <p class="sponsor-role">Online Music</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://artistaloud.wordpress.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/ArtistAloud.jpg' %}" style="width:60%;padding-bottom: 7%;padding-top: 7%;">
            <p class="sponsor-name">Artist Aloud</p>
            <p class="sponsor-role">Digital Talent Sponsor</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://dare2compete.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/dare2compete.jpg' %}" style="width:100%;padding-bottom: 20%;padding-top: 20%;">
            <p class="sponsor-name">Dare2Compete</p>
            <p class="sponsor-role">Online Quizzing Sponsor</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.upto75.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/up275.jpg' %}">
            <p class="sponsor-name">UPto75.com</p>
            <p class="sponsor-role">Coupon Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.atkt.in/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/atkt.jpg' %}">
            <p class="sponsor-name">ATKT.IN</p>
            <p class="sponsor-role">Content Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://www.thecollegefever.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/collegefever.jpg' %}" style="width: 83%;">
            <p class="sponsor-name">The College fever</p>
            <p class="sponsor-role">Online Ticketing<br>Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://goo.gl/ohcLci">
            <img class="img-responsive" style="margin: 0.7em 0; width: 83%;" src="{% static 'img/beta/sponsors/xoxoday.jpg' %}">
            <p class="sponsor-name">xoxoday</p>
            <p class="sponsor-role">Experience Partners</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://freshbrains.com/">
            <img class="img-responsive" style="margin: 2.8em 0;width:115%;" src="{% static 'img/beta/sponsors/freshbrains.jpg' %}">
            <p class="sponsor-name">Freshbrains</p>
            <p class="sponsor-role">Community Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.kaplan.com.sg/">
            <img class="img-responsive" style="margin: 3.0em 0;width: 95%;" src="{% static 'img/beta/sponsors/kaplan.jpg' %}">
            <p class="sponsor-name">Kaplan</p>
            <p class="sponsor-role">Education Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.onspon.com/index.php">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/onspon.jpg' %}" style="width:95%;padding-bottom: 17%;padding-top: 17%;">
            <p class="sponsor-name">Onspon</p>
            <p class="sponsor-role">Sponsorship Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.textlocal.in/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/textlocal.jpg' %}" style="width: 96%;">
            <p class="sponsor-name">Textlocal</p>
            <p class="sponsor-role">Messaging Partner</p>
          </a>
        </div>

         <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.wegusinfotech.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/wegus_infotech.jpg' %}" style="width:95%;padding-bottom: 10%;padding-top: 10%;">
            <p class="sponsor-name">Wegus Infotech</p>
            <p class="sponsor-role">SMS Sponsor</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.bigrock.in/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/big_rock.jpg' %}" style="width:95%;padding-bottom: 20%;padding-top: 20%;">
            <p class="sponsor-name">Big Rock</p>
            <p class="sponsor-role">Web Hosting Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.dataguru.in/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/dataguru.jpg' %}" style="width:98%;padding-bottom: 20%;padding-top: 20%;">
            <p class="sponsor-name">Dataguru.in</p>
            <p class="sponsor-role">Lead Sponsor</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://www.brainbuxa.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/brain_buxa.jpg' %}" style="width: 95%;">
            <p class="sponsor-name">BrainBuxa</p>
            <p class="sponsor-role">Outreach Partner</p>
          </a>
        </div>

        <div class="sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.techienest.in/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/techienest.jpg' %}">
            <p class="sponsor-name">Techie Nest</p>
            <p class="sponsor-role">Outreach Sponsor</p>
          </a>
        </div>

        <div class=" sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.ablab.in/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/ABLab_solutions.jpg' %}">
            <p class="sponsor-name">ABLab Solutions</p>
            <p class="sponsor-role">Outreach Partner</p>
          </a>
        </div>

         <div class=" sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.techeagle.in/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/techeagle.jpg' %}">
            <p class="sponsor-name">Tech Eagle</p>
            <p class="sponsor-role">Outreach Partner</p>
          </a>
        </div>

        <div class=" sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.azureskynet.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/azure.jpg' %}" style="width:75%;">
            <p class="sponsor-name">Azure Skynet</p>
            <p class="sponsor-role">Outreach Partner</p>
          </a>
        </div>

        <div class=" sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.techtrontechnologies.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/techtron.jpg' %}" style="width:105%;padding: 16% 0;">
            <p class="sponsor-name">Techtron</p>
            <p class="sponsor-role">Outreach Partner</p>
          </a>
        </div>

        <div class=" sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://entrench.in/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/entrench.jpg' %}" style="width:105%;padding: 20% 0;">
            <p class="sponsor-name">Entrench</p>
            <p class="sponsor-role">Outreach Partner</p>
          </a>
        </div>


        <div class=" sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.topengineers.co.in/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/topengineers.jpg' %}" style="width: 96%;padding: 1% 0;">
            <p class="sponsor-name">Top Engineers</p>
            <p class="sponsor-role">Outreach Partner</p>
          </a>
        </div>

        <div class=" sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.knowafest.com/college-fests/events">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/knowAfest.jpg' %}" style="width:105%;padding: 23.5% 0;">
            <p class="sponsor-name">KnowAFest.com</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

        <div class=" sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://www.igniteengineers.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/ignite.jpg' %}" style="width:115%;padding: 27.5% 0;">
            <p class="sponsor-name">Ignite Engineers</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

        <div class=" sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://beingstudent.com/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/beingStudent.jpg' %}" style="width:115%;padding: 28% 0;">
            <p class="sponsor-name">Being Student</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

        <div class=" sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://www.facebook.com/hyddanceadda/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/hyd_dance_adda.jpg' %}" style="width:70%;padding:2.5% 0;">
            <p class="sponsor-name">Hyd Dance Adda</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

         <div class=" sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://www.facebook.com/dubsmashyderabad/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/dub_smash.jpg' %}" style="width:95%;padding:15% 0;">
            <p class="sponsor-name">Dubsmash</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

        <div class=" sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="https://misfits.io/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/misfits.jpg' %}">
            <p class="sponsor-name">The Misfits</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

        <div class=" sp col-lg-2 col-sm-4 col-xs-12 thumb">
          <a class="thumbnail" target="_blank" href="http://fests.info/">
            <img class="img-responsive" src="{% static 'img/beta/sponsors/Fests.info.jpg' %}">
            <p class="sponsor-name">Fests.info</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type='text/javascript' src="{% static '/js/home/nav.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/home/classie.js' %}"></script>
  </body>
</html>
