
    {% load static %}
    {% include "base.html" %}
    <!-- FAVICONS -->
  	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
  	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/team.css' %}">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script type="text/javascript" src="{% static 'js/scroll.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/home/nav.css' %}" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<body>
    <style>
    .mhead{
      margin-top:1.2em;
      margin-bottom:1em;
      font-family: 'Open Sans';
      letter-spacing: 2px;
      text-decoration: underline;
      text-underline-position:below;
    }
        @media(min-width:800px){
          .mhead{
            display:none;
          }
        }
    </style>
    <!-- Nav -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <h3 style="margin: 0;"><img src="{% static 'img/home/p0_1_new.png' %}" alt="Elan & &eta;Vision 2018"></h3>
    {% if user.is_authenticated %}
    <a class="nav-link" href="/dashboard"><i class="fa fa-id-card" aria-hidden="true"></i>EN18IITH{{ profile.elanids|stringformat:"05d" }}</a>
    <a class="nav-link" style="font-size:0.9em;"><i class="fa fa-envelope" aria-hidden="true"></i>{{ user.get_username }}</a>
    <a class="nav-link" href="/login/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
    {% else %}
    <a class="nav-link" href="/login"><i class="fa fa-ticket" aria-hidden="true"></i>Register</a>
    {% endif %}
    <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
    <a class="nav-link " href="/events"><i class="fa fa-trophy" aria-hidden="true"></i>Events</a>
    <a class="nav-link" href="/sponsors"><i class="fa fa-handshake-o" aria-hidden="true"></i>Sponsors</a>
    <a class="nav-link" href="/workshops"><i class="fa fa-puzzle-piece" aria-hidden="true"></i>Workshops</a>
    <a class="nav-link is_active" href="/team"><i class="fa fa-users" aria-hidden="true"></i>Team</a>
    <a class="nav-link" href="/pronites"><i class="fa fa-music" aria-hidden="true"></i>Pronites</a>
    <a class="nav-link" href="/hackathon"><i class="fa fa-header" aria-hidden="true"></i>Hackathon</a>
    <a class="nav-link" href="/litfest"><i class="fa fa-pencil" aria-hidden="true"></i>Litfest</a>
  <a class="nav-link" href="/mypledge"><i class="fa fa-envira" aria-hidden="true"></i>Social Cause</a>
  <a class="nav-link" href="#/accomo"><i class="fa fa-bed" aria-hidden="true"></i>Accomodation</a>
    <div class="social">
  <a href="https://www.facebook.com/elan.iithyderabad/" target="_blank" class="icon fb"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/elan_nvision" target="_blank" class="icon fb"><i class="fa fa-twitter"></i></a>
  <a href="https://www.youtube.com/user/ElanIITHyderabad" target="_blank" class="icon fb"><i class="fa fa-youtube"></i></a>
  <a href="https://www.instagram.com/elan_and_nvision/" target="_blank" class="icon fb"><i class="fa fa-instagram"></i></a>
</div>
        </nav>
        <div id="showLeftPush" class="menu-icon">
      <div class="line_one"></div>
      <div class="line_two"></div>
        <div class="line_three"></div>
</div>
        <!-- nav ends -->

    <div class="logo-div" style="margin-top:2%;">
      <a href="/"><img src="/static/img/new_logo.png" class="logo"></a>
    </div>
    <div class="l-menu">
      <ul class="m-list">
        <li><button class="mbtn" id="btn1">Overall Coordinator</button></li>
        <li><button class="mbtn" id="btn2">Finance & Hospitality</button></li>
        <li><button class="mbtn" id="btn3">OP, Transport & Secy</button></li>
        <li><button class="mbtn" id="btn4">Technical Events</button></li>
      </ul>
    </div>
    <div class="r-menu">
      <ul class="m-list">
        <li><button class="mbtn" id="btn5">Cultural events</button></li>
        <li><button class="mbtn" id="btn6">Creatives & Web</button></li>
        <li><button class="mbtn" id="btn7">Marketing</button></li>
        <li><button class="mbtn" id="btn8">Infra & Pronites</button></li>
      </ul>
    </div>




		<div id="wrap" style="font-family: 'Open Sans', sans-serif;">
      <!-- <div class="picture">
        <img class="img-big" src="{% static 'img/team/srujan.JPG' %}" alt="Card image cap">
      </div> -->

      <div id="one">
        <div class="container">
          <div class="card" style="margin-top:10%" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/srujan.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Srujan Bazar</p>
              <p class="card-content" >Overall Coordinator</p>
              <p class="card-content">srujan@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://www.facebook.com/srujanbazar" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="two">
        <div class="container">
          <h2 class="mhead">Finance & Hospitality</h2>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/chirayu.jpg' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Chirayu Kothari</p>
              <p class="card-content" >Finance and Hospi Core</p>
              <p class="card-content">+91-9642621323</p>
              <p class="card-content">chirayu@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/chirayu.kothari.1" class="fa fa-facebook"></a></li>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/surya.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Surya Pramod</p>
              <p class="card-content" >Finance Coordinator</p>
              <p class="card-content">+91-7382544738</p>
              <p class="card-content">surya@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/surya.pramod.1" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/irfan.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Irfan Ali</p>
              <p class="card-content" >Hospitality Coordinator</p>
              <p class="card-content">+91-9581211310</p>
              <p class="card-content">irfan@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/profile.php?id=100001159076153" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/akshay.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Akshay Raghavan</p>
              <p class="card-content" >Hospitality Coordinator</p>
              <p class="card-content">+91-9677280037</p>
              <p class="card-content">akshay@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/akshay.cool.1609" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/shruthi.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Shruti Agarawal</p>
              <p class="card-content" >Hospitality Coordinator</p>
              <p class="card-content">+91-8103365988</p>
              <p class="card-content">shruti.a@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/profile.php?id=100012909185593" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/harshita.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Harshita Chitla</p>
              <p class="card-content" >Hospitality Coordinator</p>
              <p class="card-content">+91-7093841101</p>
              <p class="card-content">harshita@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/harshitha.chitla" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="three">
        <div class="container">
          <h2 class="mhead">OP, Transport & Security</h2>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/siva.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Siva Satvik</p>
              <p class="card-content" >Op, Transport, Secy core</p>
              <p class="card-content">+91-8897799633</p>
              <p class="card-content">satvik@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/profile.php?ref=bookmarks" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
        </div>
        <div class="container">

          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/gitanjali.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Gitanjali Mannepalli</p>
              <p class="card-content" >OP Coordinator</p>
              <p class="card-content">+91-9705512183</p>
              <p class="card-content">gitanjali@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/gmannepalli?ref=bookmarks" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/shashank.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Shashank Varanasi</p>
              <p class="card-content" >OP Coordinator</p>
              <p class="card-content">+91-8179303345</p>
              <p class="card-content">shashank.v@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/sasi8998vv" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/akshita.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Akshita Ramya</p>
              <p class="card-content" >OP Coordinator</p>
              <p class="card-content">+91-7337537660</p>
              <p class="card-content">akshita.r@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/akhira.1998" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>

          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/anvesh.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Anvesh Bendalam</p>
              <p class="card-content" >Campus Publicity Coordinator</p>
              <p class="card-content">+91-9676564751</p>
              <p class="card-content">anvesh@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/profile.php?id=100013952401046" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/charan.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Sri Charan</p>
              <p class="card-content" >Campus Publicity Coordinator</p>
              <p class="card-content">+91-9492362188</p>
              <p class="card-content">charan@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/profile.php?id=100009026844119" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/uma.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Uma Reddy</p>
              <p class="card-content" >Campus Publicity Coordinator</p>
              <p class="card-content">+91-7995802199</p>
              <p class="card-content">uma@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/profile.php?id=100005510806323" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/prabath.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Prabath Goutham</p>
              <p class="card-content" >Transport Coordinator</p>
              <p class="card-content">+91-9491618373</p>
              <p class="card-content">goutham.p@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/prabathgoutham.reddy" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/vishwa.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Vishwajith Rathod</p>
              <p class="card-content" >Security Coordinator</p>
              <p class="card-content">+91-8500526821</p>
              <p class="card-content">vishwajith@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/vishwajith.rathod" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="four">
        <div class="container">
          <h2 class="mhead">Technical Events</h2>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/suprabath.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Suprabath Reddy</p>
              <p class="card-content" >Technical Events Core</p>
              <p class="card-content">+91-9010501499</p>
              <p class="card-content">suprabath@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://www.facebook.com/suprabathreddy9" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/aravind.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Aravind Ganesh</p>
              <p class="card-content" >Workshops and Hackathons Coordinator</p>
              <p class="card-content">+91-9490329561</p>
              <p class="card-content">aravind@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/aravindganesh.28" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/shivrag.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Shivarag Reddy</p>
              <p class="card-content" >Techy Coordinator</p>
              <p class="card-content">+91-8885011011</p>
              <p class="card-content">shivarag@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://www.facebook.com/profile.php?id=100009805123045" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/bharadwaj.jpg' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Siripuram Sai Bharadwaj</p>
              <p class="card-content" >Techy coordinator</p>
              <p class="card-content">+91-7995270890</p>
              <p class="card-content">bharadwaj@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/siripuram.bharadwaj" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="five">
        <div class="container">
          <h2 class="mhead">Cultural Events</h2>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/nanda.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Nanda Kumar</p>
              <p class="card-content" >Cultural events core</p>
              <p class="card-content">+91-9573950314</p>
              <p class="card-content">nanda@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/nandu007d?ref=bookmarks" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/kabir.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Kabir Sharda</p>
              <p class="card-content" >Biggies and EML</p>
              <p class="card-content">+91-9867327421</p>
              <p class="card-content">kabir@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/kabir0798" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/laxmiganna.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Laxmi Ganna</p>
              <p class="card-content" >Culti cord</p>
              <p class="card-content">+91-8790523845</p>
              <p class="card-content">laxmi.g@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/sri.laxmi.1654" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/pramudith.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Pramudit Tripathi</p>
              <p class="card-content" >Social Cause Coordinator</p>
              <p class="card-content">+91-9044535443</p>
              <p class="card-content">pramudit@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/pramudit.99" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/tejas.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Tejas Ananda</p>
              <p class="card-content" >Infi coordinator</p>
              <p class="card-content">+91-9618535148</p>
              <p class="card-content">tejas@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/tejas.ananda" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/jeel.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Jeel Bhavasar</p>
              <p class="card-content" >Litr Coordinator</p>
              <p class="card-content">+91-9100283774</p>
              <p class="card-content">jeel@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/jeel.bhavsar.50" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="six">
        <div class="container">
          <h2 class="mhead">Creatives & Web</h2>
          <div class="card" id="shivom">
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/shivom.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Shivom Taank</p>
              <p class="card-content" >Creatives core</p>
              <p class="card-content">+91-9177296448</p>
              <p class="card-content">shivom@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/profile.php?ref=bookmarks" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="card" id="madhur">
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/madhur.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Madhur Gupta</p>
              <p class="card-content" >Multimedia Coordinator</p>
              <p class="card-content">+91-9452730775</p>
              <p class="card-content">madhur@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/madhur.gupta.9887" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" id="adharsh" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/adharsh.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Adarsh Mathai</p>
              <p class="card-content" >Creatives Coordinator</p>
              <p class="card-content">+91-8281314927</p>
              <p class="card-content">adarsh@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/adarsh.mathai" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" id="arjun">
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/arjun.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Arjun Manoj</p>
              <p class="card-content" >Creatives coordinator</p>
              <p class="card-content">+91-9515814799</p>
              <p class="card-content">arjun@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/arjun.manoj.35" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" id="sudhanshu">
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/sudhanshu.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Sudhanshu Chawhan</p>
              <p class="card-content" >Creatives coordinator</p>
              <p class="card-content">+91-9100282804</p>
              <p class="card-content">sudhanshu@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/sudhanshu.chawhan" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" id="eldo">
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/eldo.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Eldho Shajan</p>
              <p class="card-content" >Creatives coordinator</p>
              <p class="card-content">+91-9400259275</p>
              <p class="card-content">eldho@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/eldho.shajan" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" id="devajith">
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/devajith.jpg' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Devajith V S</p>
              <p class="card-content" >Creatives coordinator</p>
              <p class="card-content">+91-9287944722</p>
              <!-- <p class="card-content">eldho@elan.org.in</p> -->
              <div class="socialbtns">
                <li><a href="https://www.facebook.com/devajith.vs" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" id="harshini">
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/harshini.jpg' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Harshini</p>
              <p class="card-content" >Creatives coordinator</p>
              <p class="card-content">+91-939456969</p>
              <!-- <p class="card-content">eldho@elan.org.in</p> -->
              <div class="socialbtns">
                <li><a href="https://facebook.com/harshini.gayam.1" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" id="ninad">
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/ninad.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Ninad Akolekar</p>
              <p class="card-content" >Web Coordinator</p>
              <p class="card-content">+91-9515813283</p>
              <p class="card-content">web@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/ninad.akolekar" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" id="kiran">
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/kiran.jpg' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Ravi Kiran</p>
              <p class="card-content" >Web Coordinator</p>
              <p class="card-content">+91-9603062435</p>
              <p class="card-content">web@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/a.v.ravikiran" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="seven">
        <div class="container">
          <h2 class="mhead">Marketing</h2>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/aman.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Aman Chaurasia</p>
              <p class="card-content" >Marketing core</p>
              <p class="card-content">+91-8517885075</p>
              <p class="card-content">aman@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://www.facebook.com/profile.php?id=100009757474028" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/ashish.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Sai Ashish</p>
              <p class="card-content" >Marketing Coordinator</p>
              <p class="card-content">+91-8712706625</p>
              <p class="card-content">ashish@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/sai.ashish.12177" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/laxmi.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Lakshmi Mangu</p>
              <p class="card-content" >Marketing Coordinator</p>
              <p class="card-content">+91-9494663939</p>
              <p class="card-content">lakshmi@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/profile.php?id=100012302258695" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/piyush.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Piyush Udhan</p>
              <p class="card-content" >Marketing Coordinator</p>
              <p class="card-content">+91-9405811696</p>
              <p class="card-content">piyush@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/piyush.udhan.5" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/uwais.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Uwais Ulde</p>
              <p class="card-content" >Marketing Coordinator</p>
              <p class="card-content">+91-9833755793</p>
              <p class="card-content">uwais@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/iamuwais?ref=br_rs" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/roshini.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Roshni Pande</p>
              <p class="card-content" >Marketing Coordinator</p>
              <p class="card-content">+91-9000515191</p>
              <p class="card-content">roshni@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/roshni.pande.10" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/deep.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Deep Diwani</p>
              <p class="card-content" >Marketing Coordinator</p>
              <p class="card-content">+91-8758536303</p>
              <p class="card-content">deep@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/deep.diwani" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="eight">
        <div class="container">
          <h2 class="mhead">Infra & Pronites</h2>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/yash.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Yash Pitroda</p>
              <p class="card-content" >Infra, Pronites & Production Core</p>
              <p class="card-content">+91-9505464597</p>
              <p class="card-content">yash@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://www.facebook.com/yash.pitroda1" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/neeraj.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Neeraj Tak</p>
              <p class="card-content" >Production Coordinator</p>
              <p class="card-content">+91-8107209314</p>
              <p class="card-content">neeraj@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/neeraj.tak.129" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/sahil.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Sahil Khobragade</p>
              <p class="card-content" >Infra Coordinator</p>
              <p class="card-content">+91-9588450851</p>
              <p class="card-content">sahil@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/bigbarcafan?fref=nf" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/vidhan.jpg' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Vidhan Jain</p>
              <p class="card-content" >Infra Coordinator</p>
              <p class="card-content">+91-7997256858</p>
              <div class="socialbtns">
                <li><a href="https://www.facebook.com/vidhanrocks" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="img-div">
              <img class="card-img" src="{% static 'img/team/bharadwaja.JPG' %}" alt="Card image cap">
            </div>
            <div class="card-block">
              <p class="card-title">Bharadwaja Ryali</p>
              <p class="card-content" >Pronites Coordinator</p>
              <p class="card-content">+91-7661046637</p>
              <p class="card-content">bharadwaja@elan.org.in</p>
              <div class="socialbtns">
                <li><a href="https://facebook.com/bharadwaja.ryali" class="fa  fa-facebook"></a></li>
              </div>
            </div>
          </div>
        </div>
      </div>
		</div>
  </body>
		<script>
      // var name;
      // $(".card").hover(function(){
      //   $(this).find(".card-content").slideDown();
      //   $(this).find(".socialbtns").slideDown();
      //   var x = $(this).attr('id');
      //     var name = "static/img/team/"+x+".JPG"
      //     console.log(name);
      //    $('.img-big').fadeOut(500, function() {
      //       $('.img-big').attr("src",name);
      //       $('.img-big').fadeIn(500);
      //   });}, function(){
      //     var x = $(this).attr('id');
      //     var name = "static/img/team/"+x+".JPG"
      //     console.log(name);
      //     $(this).find(".card-content").slideUp(0);
      //     $(this).find(".socialbtns").slideUp(0);
      //     $('.img-big').attr("src",name);
      // });

		$.extend($.scrollTo.defaults,{
			axis:'x',duration:1000
		});

		$('#btn1').on('click',function () {
			$(window).scrollTo($("#one"));
      $("#btn1").addClass("focus");
      try {
        $("#btn2").removeClass('focus');
        $("#btn3").removeClass('focus');
        $("#btn4").removeClass('focus');
        $("#btn5").removeClass('focus');
        $("#btn6").removeClass('focus');
        $("#btn7").removeClass('focus');
        $("#btn8").removeClass('focus');
      }
      catch(err) {
    }
		});
		$('#btn2').on('click',function () {
			$(window).scrollTo($("#two"));
      $("#btn2").addClass("focus");
      try {
        $("#btn1").removeClass('focus');
        $("#btn3").removeClass('focus');
        $("#btn4").removeClass('focus');
        $("#btn5").removeClass('focus');
        $("#btn6").removeClass('focus');
        $("#btn7").removeClass('focus');
        $("#btn8").removeClass('focus');
      }
      catch(err) {
    }
		});
		$('#btn3').on('click',function () {
			$(window).scrollTo($("#three"));
      $("#btn3").addClass("focus");
      try {
        $("#btn1").removeClass('focus');
        $("#btn2").removeClass('focus');
        $("#btn4").removeClass('focus');
        $("#btn5").removeClass('focus');
        $("#btn6").removeClass('focus');
        $("#btn7").removeClass('focus');
        $("#btn8").removeClass('focus');
      }
      catch(err) {
    }
		});
		$('#btn4').on('click',function () {
			$(window).scrollTo($("#four"));
      $("#btn4").addClass("focus");
      try {
        $("#btn1").removeClass('focus');
        $("#btn3").removeClass('focus');
        $("#btn2").removeClass('focus');
        $("#btn5").removeClass('focus');
        $("#btn6").removeClass('focus');
        $("#btn7").removeClass('focus');
        $("#btn8").removeClass('focus');
      }
      catch(err) {
    }
		});
		$('#btn5').on('click',function () {
			$(window).scrollTo($("#five"));
      $("#btn5").addClass("focus");
      try {
        $("#btn1").removeClass('focus');
        $("#btn3").removeClass('focus');
        $("#btn2").removeClass('focus');
        $("#btn4").removeClass('focus');
        $("#btn6").removeClass('focus');
        $("#btn7").removeClass('focus');
        $("#btn8").removeClass('focus');
      }
      catch(err) {
    }
		});
		$('#btn6').on('click',function () {
			$(window).scrollTo($("#six"));
      $("#btn6").addClass("focus");
      try {
        $("#btn1").removeClass('focus');
        $("#btn3").removeClass('focus');
        $("#btn2").removeClass('focus');
        $("#btn5").removeClass('focus');
        $("#btn4").removeClass('focus');
        $("#btn7").removeClass('focus');
        $("#btn8").removeClass('focus');
      }
      catch(err) {
    }
		});
		$('#btn7').on('click',function () {
			$(window).scrollTo($("#seven"));
      $("#btn7").addClass("focus");
      try {
        $("#btn1").removeClass('focus');
        $("#btn3").removeClass('focus');
        $("#btn2").removeClass('focus');
        $("#btn5").removeClass('focus');
        $("#btn6").removeClass('focus');
        $("#btn4").removeClass('focus');
        $("#btn8").removeClass('focus');
      }
      catch(err) {
    }
		});
    $('#btn8').on('click',function () {
			$(window).scrollTo($("#eight"));
      $("#btn8").addClass("focus");
      try {
        $("#btn1").removeClass('focus');
        $("#btn3").removeClass('focus');
        $("#btn2").removeClass('focus');
        $("#btn5").removeClass('focus');
        $("#btn6").removeClass('focus');
        $("#btn7").removeClass('focus');
        $("#btn4").removeClass('focus');
      }
      catch(err) {
    }
      $('#')
		});
		$( document ).ready(function() {
      $("#btn1").addClass('focus');
			$(window).scrollTo($("#three"));
		$( "#wrap" ).delay(1000).animate({
			opacity: 1,
		}, 600 );
      $(window).scrollTo($("#one"));

		});
    </script>
    <script type='text/javascript' src="{% static '/js/home/nav.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/home/classie.js' %}"></script>
</html>
