{% load  static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		 <title>Workshops | ELAN & &eta;vision 2k18</title>
		 <!-- FAVICONS -->
	 	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
	 	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon.png' %}">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ηvision is the techno-management fest of IIT Hyderabad.">
    <meta name="copyright" content="ELAN & ηvision 2018">
    <meta name="author" content="ELAN & ηvision 2018">
    <meta name="keyword" content="workshops, iith, techy workshops, robotics, android, elan,nvision,elan & nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,awesome,workshops,kludge,infero,cephid,ecell,robotics,equilibria,torque,electronica">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#283389">
    <meta property="og:site_name" content="ELAN & ηvision 2018">
    <meta property="og:title" content="ELAN & ηvision 2018">
    <meta property="og:type" content="website">
		  <meta property="og:description" content="ELAN & ηvision 2018: Techno-cultural Fest of IIT Hyderabad">
		<link rel="shortcut icon" href="../favicon.ico">
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/beta/bootstrap.min.css' %}"> -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/workshops_new/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/workshops_new/component2.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/workshops_new/there.css' %}" />
		<script src="{% static 'js/workshops_new/modernizr.custom.js' %}"></script>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
	</head>
	<style>
	*{
		-webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
	}
		.reg_btn_left{
			margin-left:40%;
		}
		.reg_btn_right{
			margin-left:3em;
		}

    @media(min-width:801px){
      .req{
      margin-left:-10em;
    }
    .d1-lead{
      margin-left:8em;
    }
		#outline_cs{
			margin-left: -8em;
		}
    }
		@media (max-width:800px) {
			.reg_btn_left{
				margin-left:20%;
			}
			.reg_btn_right{
				margin-left:-.5em;
			}
      .d1-lead{
      text-align:center;
    }
    .d1-lead{
      margin-left: 0;
    }
    #ratika{
      margin-left:-3em;
    }
		p{
			font-size: 1em;
		}
		.page-inner h2{
			font-size:2em;
		}
    }
	</style>
	<body>
		<div class="container">
			<div id="splitlayout" class="splitlayout">
				<div class="intro">
					<div class="side side-left">
						<header class="codropsheader clearfix">

							<nav>
								<a href="/" class="bp-icon" data-info="Home"><i class="fa fa-home" style="font-size:1.8em;margin-left:0.1em;"></i><span>Home</span></a>
								<a href="/events" class="bp-icon" data-info="Events"><i class="fa fa-star" style="font-size:1.4em;margin-left:0.25em;margin-top:0.2em;"></i><span>Events</span></a>
						</header>
						<div class="intro-content">
							<div class="profile"><img src="{% static 'img/workshops_new/chatbot.png' %}" alt="profile1" style="max-width:60%;"></div>
							<h1><span>Facebook Bot</span><span>KNOW MORE</span></h1>
						</div>
						<div class="overlay"></div>
					</div>
					<div class="side side-right">
						<div class="intro-content" style="margin-top:1.5em;">
							<div class="profile"><img src="{% static 'img/workshops_new/cloud.png' %}" alt="profile2" style="max-width:120%;"></div>
							<h1><span>Cisco Networking</span><span>KNOW MORE</span></h1>
						</div>
						<div class="overlay"></div>
					</div>
				</div><!-- /intro -->
				<div class="page page-right">
					<div class="page-inner" style="color:#00003f;text-align:center;">
            <section>
                <h2 class="mhead">Cisco Networking</h2>
              <hr class="mhead" style="width: 50%;" /><br>
              <nav id="nav-cs">
                <ul id="list-nav">
                  <!-- <a href="#abt-fb"><li class="mhead">About</li></a> -->
                  <a href="#reg-cs"><li>Register</li></a>
                  <a href="#highlights-cs"><li>Highlights</li></a>
                  <a href="#outline-cs"><li>Outline</li></a>
                  <a href="#contact-cs"><li>Contact</li></a>
                  <a href="#hospi-cs"><li>Hospitality</li></a>
                </ul>
              </nav>
            </section>
            <section>
              <h2 id="abt-fb">About</h2>
              <hr style="width: 50%;" /><br>
<p>
  What is Cisco networking? Ever wondered how the internet works? Ever got the thought to learn how your router works and all the protocols and the methods used? Are you bored of studying about old age communication techniques like AM and FM? Elan & ηvision, IIT Hyderabad in association with Azure Skynet presents to you this workshop on Cisco Networking. This workshop introduces you to the knowledge of present world’s networking devices and techniques.
  Participants will be introduced to Networking devices, Addressing, Routing, different protocols etc.

<br><br><br>
<div id="reg-cs" class="lead"><p>

Date : 9th and 10th February<br>
Venue : IIT Hyderabad<br>
Timing : Friday 1:00 PM to 8:30 PM<br>Saturday 10:00 Am to 6:00 PM<br>
Fee - ₹ 1000/- per student<br>
*No prerequisites required<br>
</div>
</p>
<!-- <h2 style="font-size:2em;">Registrations Closed.</h2> -->
<div class="row">
<div class="col-md-3 col-sm-3 col-xs-6" ><a style="color:black;border:solid black 3px" href="https://www.townscript.com/e/cisco-networking-workshop-031240" target="_blank" class="btn btn-sm animated-button thar-three">Pay Now</a></div>
<div class="col-md-3 col-sm-3 col-xs-6"><a style="color:black;border:solid black 3px" href="https://docs.google.com/forms/d/1rrgoVjd14B1iFpDK5CefpgXgD11iMuWgprnrwSjgXfA/viewform?edit_requested=true" target="_blank" class="btn btn-sm animated-button thar-three">Register</a></div>
</div>

            </section>
            <section>
              <div id="highlights-cs" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="heading text-center" style="color:#00003f">Highlights</h2><hr style="width: 50%;" /><br>
        <ul class="hl">
          <li>Knowledge on current world’s networking devices and their use in industry</li>
          <li>Introduction to Cisco IOS
</li>
          <li>OSI model and Data Encapsulation</li>
          <li>Introduction to Network Security</li>
          <li>RIP, EIGRP and OSPF Routing</li>
          <li>Creating VLAN and ACL</li>
          <li>Get trained by professionals
</li>
          <li>Certificate from Elan & ηvision, IIT Hyderabad
</li>
          <li>Live Demos and Interactive Question & Answer sessions
</li>
          <li>Softwares : Cisco Packet Tracer, Wireshark & Putty</li>
        </ul>
      </div>
    </div>
  </div>
</div>
            </section>
            <section>
              <!--fourth -->
<div id="outline-cs" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center" style="color:#00003f">Outline</h2><hr style="width: 50%;" /><br></div><br><br>
<div class="row"  id="outline_cs" style="text-align: left; display: inline-block;">
  <div class="col-md-6 col-sm-12" style="float:left;">
    <span class="d1-lead">Day 1 Session 1</span><br>
    <ul class="d1">
        <li>Networking Devices and their use in industry
</li>
      <li>Concept of DHCP and DNS protocol
</li>
      <li>Introduction to Cisco IOS
</li>
      <li>Configuring DHCP in Cisco Packet Tracer</li>
      <li>Finding IP address of a website using DNS protocol</li>
      <li>Introduction to OSI model and Data Encapsulation</li>
      <li>Capturing Network traffic using Wireshark</li>
      <li>Introduction to Network Security</li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-12" style="float:right;">
  <span class="d1-lead">Day 1 Session 2</span><br>
    <!-- <span class="d1-lead" style="text-decoration:none">IC Engine</span> -->
    <ul class="d1">
        <li>IP Addressing</li>
      <li>Network Address Translation</li>
      <li>Subnetting</li>
      <li>VLSM</li>
      <li>Introduction to Routing</li>
      <li>Static Routing</li>
    </ul>
  </div>

</div>


<div class="row below req"  style="text-align: left; display: inline-block;">
  <div class= "col-md-6 col-sm-12" style="float:left;">
    <span class="d1-lead">Day 2 Session 1</span><br>
    <!-- <span class="d1-lead" style="text-decoration:none" >Energy & Transmission of Motor Sport Vehicles</span><br> -->
    <ul class="d1" >
       <li>RIP Routing</li>
      <li>RIPv2 Routing</li>
      <li>Introduction to Advance Distance Vector Routing</li>
      <li>EIGRP Routing</li>
      <li>Introduction to Link State Routing Protocol

</li>
      <li>OSPF Routing</li>
    </ul>

  </div>
  <div class="col-md-6 col-sm-12" style="float:right;">
  <span class="d1-lead">Day 2 Session 2</span><br>
    <!-- <span class="d1-lead d2-lead" style="text-decoration:none">Performance parameters of Race Vehicles</span> -->
    <ul class="d1">
      <li> Introduction to Switching</li>
      <li> VLAN configuration
</li>
      <li> Creating ACL</li>
      <li> Scholarship Exam</li>
      <li> Zonal Winner Declaration</li>
      <li>Certificate Distribution</li>
    </ul>
  </div>
</div>

</div>
</div>


<!--fourth end -->

            </section>
						<section>
              <div id="contact-cs" class="pad-section" >
<div class="container">
<div class="row" id="contact-cont">
<div class="col-sm-12">
<h2 class="heading text-center" style="color:#00003f">Contact Us</h2><hr style="width: 50%;" /><br>


  <div class="col-sm-12 col-md-6 " style="margin-left: -2em;">
    <div class="card first-card">
        <div class="card-block"><br>
          <p class="card-title">Aravind Ganesh</p>
          <p class="card-content" >Workshops Coordinator</p>
          <p class="card-content">+91-9490329561</p>
          <p class="card-content">aravind@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/aravindganesh.28" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>
  </div>

  </div>
</div>

</div>
</div>

            </section><br><br><section id="hospi-cs">
               <!-- <h2 class="heading text-center" id="hospi-cs" style="color:#00003f">Hospitality</h2><hr style="width: 50%;" /><br>

 -->              <h2 style="text-transform: uppercase;color:#00003f;">Hospitality</h2><hr style="width: 50%;">
 <!-- <p>All information will be provided soon.</p>
<p>Accomodation will be provided on first come, first serve basis.</p> -->
<p><a href="/#accomo">Register for Accomodation</a></p>


            </section>

            <!-- <section>
              <h2 class="heading text-center" id="hospi-cs" style="color:#00003f">Hospitality</h2><hr style="width: 50%;" /><br>
              <p>All information will be provided soon.</p>
<p>Accomodation will be provided on first come, first serve basis.</p>
            </section> -->

					</div><!-- /page-inner -->
				</div><!-- /page-right -->
				<div class="page page-left">
					<div class="page-inner">
            <section>
                <h2 class="mhead">Facebook Bot</h2>
              <hr class="mhead" style="width: 50%;" /><br>
              <nav id="nav-fb">
                <ul id="list-nav">
                  <!-- <a href="#abt-fb"><li class="mhead">About</li></a> -->
                  <a href="#reg-fb"><li>Register</li></a>
                  <a href="#highlights-fb"><li>Highlights</li></a>
                  <a href="#outline-fb"><li>Outline</li></a>
                  <a href="#contact-fb"><li>Contact</li></a>
                  <a href="#hospi-fb"><li>Hospitality</li></a>
                </ul>
              </nav>
            </section>
						<section>
							<h2 id="abt-fb">About</h2>
							<hr style="width: 50%;" /><br>
<p>
  Are you tired of redundantly posting same thing on Facebook? Ever thought how comforting it would be if "someone" does that for you? Do you want to chat with  "someone" who replies with proper answers, immediately to your messages? That someone is a Facebook bot. The bots  are a great deal of help in making things lot simpler. <br><br> Learn to make a Facebook bot in the Facebook bot workshop by ELAN & ηvision in association with Entrench Electronics.
<br><br><br>

<div id="reg-fb" class="lead"><p>
Instructor - Mahesh Rakheja<br><br>
Date : 9th and 10th February<br>
Venue : IIT Hyderabad<br>
Timing : Friday 1:00 PM to 8:30 PM<br>Saturday 10:00 Am to 6:00 PM<br>
Fee - ₹ 1000/- per student<br>
*No prerequisites required<br>
</div>
</p>
<!-- <h2 style="font-size:2em;">Registrations Clos</h2> -->
<div class="col-md-3 col-sm-3 col-xs-6"><a href="https://goo.gl/forms/Wh40ifolDYMoakFX2" target="_blank" class="btn btn-sm animated-button thar-three">Register</a></div>
<h4><b>NOTE: This registration will not assure your participation in workshop. We will send a confirmation mail. If you don't get a confirmation email, your registration will automatically cancelled.</b></h4>

						</section>
						<section>
							<div id="highlights-fb" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="heading text-center" style="font-size:2em;">Highlights</h2><hr style="width: 50%;" /><br>
        <ul class="hl">
          <li>Basic Scripting techniques </li>
          <li>Learn to use PHP</li>
          <li>Configuring and Using MySQL</li>
          <li>Learn how to create and customize Facebook bots</li>
          <li>Make your own Auto-Post bot and AI chatbot</li>
          <li>Get trained by professionals</li>
          <li>Certificate from Elan & ηvision, IIT Hyderabad</li>
          <li>Live Demos and Interactive Question & Answer sessions</li>
        </ul>
      </div>
    </div>
  </div>
</div>
						</section>
						<section>
							<!--fourth -->
<div id="outline-fb" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="heading text-center">Outline</h2><hr style="width: 50%;" /><br></div><br><br>
<div class="row"  style="text-align: left; display: inline-block;">
  <div class="col-md-6 col-sm-12" style="float:left;">
    <span class="d1-lead">Basic Scripting</span><br>
    <ul class="d1">
      <li>Primitive Data Types</li>
      <li>Defining Constants and Variables</li>
      <li>Looping Constructs</li>
      <li>Conditional Constructs</li>
      <li>Modularity through Include Files</li>
      <li>PHP Operators</li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-12" style="float:right;">
  <span class="d1-lead">PHP Functions</span><br>
    <!-- <span class="d1-lead" style="text-decoration:none">IC Engine</span> -->
    <ul class="d1">
      <li>Introduction to Functions</li>
      <li>Declaring Functions</li>
      <li>Scope</li>
      <li>Passing Arguments to Functions</li>
      <li>Local and Global Scope</li>
      <li>Passing Arguments to Functions by Value and Reference</li>
      <li>Variable Scoping and Return Values</li>
      <li>Coercive and Strict Type Declarations for Parameters and Return Values</li>
    </ul>
  </div>

</div>


<div class="row below req"  style="text-align: left; display: inline-block;">
  <div class= "col-md-6 col-sm-12" style="float:left;">
    <span class="d1-lead">Arrays in PHP</span><br>
    <!-- <span class="d1-lead" style="text-decoration:none" >Energy & Transmission of Motor Sport Vehicles</span><br> -->
    <ul class="d1" >
      <li>What are Arrays?</li>
      <li>Usage of Arrays in PHP</li>
      <li>Array Indexing</li>
      <li>Initializing Arrays</li>
      <li>Operating on Arrays</li>
      <li>Sorting Arrays</li>
      <li>One-Dimensional Arrays</li>
      <li>Multi-Dimensional Arrays</li>
      <li>Associative Arrays</li>
    </ul>

  </div>
  <div class="col-md-6 col-sm-12" style="float:right;">
  <span class="d1-lead">Basic OOP in PHP</span><br>
    <!-- <span class="d1-lead d2-lead" style="text-decoration:none">Performance parameters of Race Vehicles</span> -->
    <ul class="d1">
      <li>Defining Object Oriented Programming</li>
      <li>Creating New Objects in PHP</li>
      <li>PHP Object Syntax</li>
      <li>Using Predefined PHP OOP Libraries</li>
    </ul>
  </div>
</div>

<div class="row below"  style="text-align: left; display: inline-block;">
  <div class="col-md-6 col-sm-12" style="float:left;">
    <span class="d1-lead">Configuring and Using MySQL</span><br>
    <!-- <span class="d1-lead" style="text-decoration:none" >Energy & Transmission of Motor Sport Vehicles</span><br> -->
    <ul class="d1">
      <li>MySQL as a Client/Server Solution</li>
      <li>Introduction to MySQL Capabilities as a Powerful RDBMS</li>
      <li>Installing and Configuring MySQL</li>
      <li>Connecting to MySQL</li>
      <li>PHP Functions Specific to MySQL</li>
      <li>Executing SQL Calls</li>
      <li>Using PHP MyAdmin to Configure MySQL</li>
    </ul>

  </div>
  <div class="col-md-6 col-sm-12" style="float:right;">
  <span class="d1-lead d2-lead">Overview about Simple Html Dom Parser</span><br>
    <ul class="d1">
      <li>Introduction to Parsing</li>
      <li>Different parsing methodologies</li>
      <li>Parsing with tags, attributes, inner text and outer text</li>
      <li>Introduction to Google Alerts</li>
      <li>Generating RSS feeds from google alerts</li>
      <li>Parsing Google Alerts RSS feeds</li>
      <li>Making PHP based API’s</li>
      <li>Testing API’s</li>
      <li>Adding authentication to API’s</li>
    </ul>
  </div>
</div>

<div class="row below" style="text-align: left; display: inline-block;">
  <div class="col-md-6 col-sm-12"  style="float:left;">
    <span class="d1-lead">Introduction to Facebook API’s</span><br>
    <!-- <span class="d1-lead" style="text-decoration:none" >Energy & Transmission of Motor Sport Vehicles</span><br> -->
    <ul class="d1">
      <li>Facebook page creation</li>
      <li>Facebook page ID Generation</li>
      <li>Facebook page access token generation</li>
      <li>Facebook page post API</li>
      <li>Connecting PHP API’s with Facebook page post API</li>
      <li>Completing facebook autopost bot</li>
      <li>Hosting Autopost Bot to server</li>
      <li>Introduction to cron job</li>
      <li>Applying cron job to autopost bot</li>
      <li>Configuring MySql Database for autopost bot</li>
      <li>Implementing spam filter and duplicate filter for autopost bot</li>
    </ul>

  </div>
  <div class="col-md-6 col-sm-12"  style="float:right;">
  <span class="d1-lead d2-lead">ChatBot with Facebook (siri,cortona)</span><br>
    <ul class="d1">
      <li>Introduction to facebook’s send & receive API</li>
      <li>Facebook Access token generation</li>
      <li>PHP Code to receive Facebook messages</li>
      <li>PHP code to send message back to Facebook</li>
      <li>Introduction to Artificial Intelligence</li>
      <li>Introduction to Machine Learning</li>
      <li>Linking bot with API.AI</li>
      <li>Adding custom replies with bots</li>
      <li>Making Resume Bot for Facebook page</li>
    </ul>
  </div>
</div>
<div class="container" style="text-align: center;"><p><b>Note:</b>
These are just major aspects that we will be discussing, each point will be elaborated with demonstration of tools and techniques.<br>
Course objective is to make 2 bots. (Auto-Post Bot & Chat Bot).</p>

</div>

<div class="row below">

</div>

</div>
</div>


<!--fourth end -->

						</section>
						<section>
							<div id="contact-fb" class="pad-section" >
<div class="container">
<div class="row" id="contact-cont">
<div class="col-sm-12">
<h2 class="heading text-center">Contact Us</h2><hr style="width: 50%;" /><br>

    <div class="col-sm-12 col-md-6" id="ratika" style="float: left;">
    <div class="card first-card">
          <div class="card-block"><br>
            <p class="card-title">Ratika </p>
            <p class="card-content" ></p>
            <p class="card-content">+91-9599051723</p>
            <p class="card-content">Ratika.entrench@gmail.com</p>
          </div>
        </div>
      </div>

  <div class="col-sm-12 col-md-6 " style="float: right;">
    <div class="card first-card">
        <div class="card-block"><br>
          <p class="card-title">Aravind Ganesh</p>
          <p class="card-content" >Workshops Coordinator</p>
          <p class="card-content">+91-9490329561</p>
          <p class="card-content">aravind@elan.org.in</p>
          <div class="socialbtns">
            <li><a href="https://www.facebook.com/aravindganesh.28" class="fa fa-lg fa-facebook"></a></li>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>

</div>
</div>
						</section><br><br><section id="hospi-fb">
               <!-- <h2 class="heading text-center" id="hospi-cs" style="color:#00003f">Hospitality</h2><hr style="width: 50%;" /><br>
 <-->         <h2 style="text-transform: uppercase;">Hospitality</h2><hr style="width: 50%;">
               <!-- <p>All information will be provided soon.</p>
<p>Accomodation will be provided on first come, first serve basis.</p> -->
<p><a href="/#accomo">Register for Accomodation</a></p>
            </section>
					</div><!-- /page-inner -->
				</div><!-- /page-left -->
				<a href="#" style="font-size:4em;" class="back back-right" title="back to intro">&rarr;</a>
				<a href="#" style="font-size:4em;" class="back back-left" title="back to intro">&larr;</a>
			</div><!-- /splitlayout -->
		</div><!-- /container -->
		<script src="{% static 'js/workshops_new/classie.js' %}"></script>
		<script src="{% static 'js/workshops_new/cbpSplitLayout.js' %}"></script>

	</body>
</html>
